@import"./../../assets/applab/css/style.css";

.made-italy{
position: absolute;
bottom:10px;
right: 30px;
color: #0061d5;
img{
    height: 20px;
    margin-top: -4px;
}
}

.contacts{
    margin-top: 100px;
    width: 100vw;
    display: block;
    text-align: center;
    margin-bottom: 60px;
}
.contact{
    display: inline-block;
    margin: 15px 50px 5px 50px;
    font-size: 15px;
    color: #fff;
    img{
        margin-right: 10px;
        height: 20px;
    }
}
.copyrights{
    display: block;
    margin-top:20px;
    padding-bottom:10px;
    text-align: center;
    width: 100vw;
    font-size: 13px;
    color: #fff;
}

@media(max-width:500px){
    .contacts{
        margin:0px;
        width: 100%;
        display: block;
        text-align: center;
    }
    .copyrights{
        width: 100%;
    }
    .productivity_area{
padding: 30px !important;
    }
}
a{color: #fff  !important; margin:auto 20px}
.proof{
    z-index: 100;;
    position: fixed;
    bottom: -320px;
    left:20px;
    width: 340px;
    height: 240px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 15px 1px #ccc;
    overflow: hidden;
    transition: 600ms;
    .img-cont{
        margin: 10px;
        height: 70px;
        width:70px;
        border-radius: 50%;
        display:block;
        overflow: hidden;
        box-shadow: 0 0 15px 1px #00000044;
        img{
            object-fit: cover;
            width: 100%;
        }
    }
    .title{
        b{
            color:#242328;
        }
        color: #717171;
        font-size: 12px;
        line-height: 13px;
        margin:0px
       
    }
    button{
        margin-top:10px;
        background: #0061d5;
        color: #fff;
        font-size: 12px;
        line-height: 13px;
        border-radius: 5px;
        padding: 10px 15px;
    }
}
.proof_txt{
    z-index: 100;;
    position: absolute;
    top:140px;
    width: 340px;
    height: 90px;
    display:grid;
    grid-template-columns: 1fr 4fr;
}
.img_top{
    z-index: 100;;
    position: absolute;
    border-bottom: 1px #ccc solid;
    overflow: hidden;
    padding:  0px 20px;
    text-align: center;
    width: 340px;
    height: 140px;
    img{
        object-fit: cover;
        width: 100%;
    }
}

@media(max-width: 547px){
    .proof{
        display: none !important;
    }
}