<div class="productivity_area" >
<div style="position: relative;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-md-12 col-lg-6">
                <h3 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s">Scarica ora l'app <br>
                     e prenota anche da cellulare</h3>
            </div>
            <div class="col-xl-5 col-md-12 col-lg-6">
                <div class="app_download wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s">
                    <a href="https://apps.apple.com/app/id1520379243" >
                            <img src="../assets/applab/img/ilstrator/app.svg" alt="">
                    </a>
                    <a href="https://apps.apple.com/app/id1520379243">
                            <img src="../assets/applab/img/ilstrator/play.svg" alt="">
                    </a>
                    
                </div>
            </div>
        </div>
       
    </div>
    <!-- <div class="made-italy">
        Made in Italy <img src='https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg'>
    </div> -->
</div>
<!--/ productivity_area  -->

<!-- footer start -->
<footer class="footer">
    <div class="contacts">
        <a href="mailto:business@prenota.cc" target="_blank"><div class="contact"><img src='../assets/icons/email.svg'>business@prenota.cc</div></a>
       <a href="tel:+393312233645" target="_blank"><div class="contact"><img src='../assets/icons/phone.svg'>+39 331 2233645</div></a>
    </div>
    <div class="copyrights">Copyright © 2020 Prenota S.r.l. All rights reserved.</div>
    </footer>
</div>