<body>
        <div class="page-wrapper bg-gra-02 p-t-70 p-b-30 font-poppins">
                <h1 class='logo-title' (click)='goHome()'>prenota</h1>
                  <div class="wrapper wrapper--w680">
                                    <div class="card card-4">
                                        <div class="card-body">
                                            <h2 class="title">Benvenuto! Registra il tuo account da dipendente</h2>
                                            <form >
                                                <div class="row row-space">
                                                    <div class="col-2-r">
                                                        <div class="input-group">
                                                            <label class="label">Nome</label>
                                                            <input class="input--style-4" [(ngModel)]="first_name" type="text" name="first_name" placeholder="Mario">
                                                            <p *ngIf='first_name_err!=""'>{{first_name_err}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-2-r">
                                                        <div class="input-group">
                                                            <label class="label">Cognome</label>
                                                            <input class="input--style-4" [(ngModel)]="last_name" type="text" name="last_name" placeholder="Rossi">
                                                            <p *ngIf='last_name_err!=""'>{{last_name_err}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row row-space">
                                                    <div class="col-2-r">
                                                        <div class="input-group">
                                                            <label class="label">Email</label>
                                                            <input class="input--style-4" [(ngModel)]="email" type="email" name="email"  placeholder="mario.rossi@email.com">
                                                            <p *ngIf='email_err!=""'>{{email_err}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-2-r">
                                                            <div class="input-group">
                                                                <label class="label">Numero di telefono</label>
                                                                <input class="input--style-4"[(ngModel)]="phone" type="tel" name="phone" placeholder="3312233645">
                                                                <p *ngIf='phone_err!=""'>{{phone_err}}</p>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="row row-space">
                                                    <div class="col-2-r">
                                                        <div class="input-group" >
                                                            <label class="label">Sesso</label>
                                                            <div class="p-t-10">
                                                                <label class="radio-container m-r-45">Uomo
                                                                    <input type="radio" [(ngModel)]="sex" value="m"checked="checked" name="gender">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <label class="radio-container">Donna
                                                                    <input type="radio" [(ngModel)]="sex" value="w" name="gender">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-2-r">
                                                        <div class="input-group">
                                                            <label class="label">Password</label>
                                                            <input class="input--style-4" [(ngModel)]="password" type="password" name="password"  placeholder="********">
                                                            <p *ngIf='password_err!=""'>{{password_err}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-t-15">
                                                    <button class="btn btn--radius-2 btn--blue"  (click)='submit()' >Registrati</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
</div>
</body>    