
<div class="task task1 task--primary">
    <div class="task-duration" >10:15-12:30</div>
    <div class="task-details" > taglio</div>
    <div class="task-name" >Marco</div>
</div>
<div class="task task2 task--primary" >
    <div class="task-duration" >10:15-12:30</div>
    <div class="task-details" > taglio</div>
    <div class="task-name" >Marco</div>
</div>

<div class="task task3 task--primary">
    <div class="task-duration" >10:15-12:30</div>
    <div class="task-details" > taglio</div>
    <div class="task-name" >Marco</div>
</div>

<div class="task task4 task--primary">
    <div class="task-duration" >10:15-12:30</div>
    <div class="task-details" > taglio</div>
    <div class="task-name" >Marco</div>
</div>

<div class="task task5 task--primary">
    <div class="task-duration" >10:15-12:30</div>
    <div class="task-details" > taglio</div>
    <div class="task-name" >Marco</div>
</div>

<div class="task task6 task--primary">
    <div class="task-duration" >10:15-12:30</div>
    <div class="task-details" > taglio</div>
    <div class="task-name" >Marco</div>
</div>

<div class="task task7 task--primary">
    <div class="task-duration" >10:15-12:30</div>
    <div class="task-details" > taglio</div>
    <div class="task-name" >Marco</div>
</div>

<div class="task task8 task--primary">
    <div class="task-duration" >10:15-12:30</div>
    <div class="task-details" > taglio</div>
    <div class="task-name" >Marco</div>
</div>

<div class="task task--primary">
    <div class="task-duration" >10:15-12:30</div>
    <div class="task-details" > taglio</div>
    <div class="task-name" >Marco</div>
</div>


<div class="task task--primary">
    <div class="task-duration" >10:15-12:30</div>
    <div class="task-details" > taglio</div>
    <div class="task-name" >Marco</div>
</div> 

<div class="color-picker">
  <div class="task1 c" (click)='bgcolor="#f2b3b3"'></div>
  <div class="task2 c" (click)='bgcolor="#fccbbc"'></div>
  <div class="task3 c" (click)='bgcolor="#fcecbe"'></div>
  <div class="task4 c" (click)='bgcolor="#c2e9d7"'></div>
  <div class="task5 c" (click)='bgcolor="#b3e1f7"'></div>
  <div class="task6 c" (click)='bgcolor="#c5cbe9"'></div>
  <div class="task7 c" (click)='bgcolor="#d7dbef"'></div>
  <div class="task8 c" (click)='bgcolor="#ddbde6"'></div>
 
</div>
<div class=" d" [style.background]='bgcolor'></div>
<!-- <div #paymentRequestButtonElement> -->
  <!-- A Stripe Element will be inserted here. -->
<!-- </div> -->