.screen-app{
    width: 80vw; 
    left:10vw; 
    height: 46vw;
    border-radius: 10px;
}

.p-style{
   font-size: 18px !important;
   line-height: 28px !important;
}
.btt{
    position: absolute;
    right: 20px;
    border: none;
    background: #0061d5 !important;
    padding:15px 25px;
    display: inline-block;
}
.btt:hover{
    position: absolute;
    color: white;
    right: 20px;
    border: 1px solid #0061d5;
    background: #0061d5;
    padding:15px 25px;
    display: inline-block;
}

.header-act{
    position: absolute;
    display: inline-block;
    right: 210px;
    top: 20px;
    height: 50px;
    p{
        display: inline-block;
        line-height: 50px;
        font-size: 16px;
        color: #0061d5;
        margin-right: 10px;
        font-weight: 500;
    }
    span{
        padding:15px 25px;
        display: inline-block;
    }
}
@media (max-width: 576px) {
    .header-act {
        display: none;
    }
  }

//   switch site yes no
.site{
  display: block !important; 
  line-height: 34px !important;
}
/* The switch - the box around the slider */
.switch-conts{
  display: inline-block;
  padding: 10px 20px;

}
.switch {
    top:0px;
    left: 0px !important;;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }