<body>

    <app-header></app-header>
    <section class="main-block categories">
        <div class="container">
                <span (click)='back()' style="cursor: pointer;" class="back-search"><img src='../assets/icons/chevron-back-outline_black.svg'  style="height: 20px; color: #212121;"> <span style="padding: 12px 8px 0px 8px;">Indietro</span></span> 
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="styled-heading">
                        <h1 class="cat-heading"> I migliori {{categories_name[business_type]}} a Trieste</h1>
                        <p class="text-muted" style="text-align: center;">Clicca su un attività per prenotare</p>
                    </div>
                </div>
            </div>
            <div class="cards-list">

                <div class="card 1" *ngFor="let shop of shops" (click)='navigate(shop)' [class.blocked]='shop.closed'>
                  <div class="card_image"> <img src="{{shop.img_url}}" alt="{{shop.store_name}} Trieste {{shop.business_description}}"/> </div>
                  <div class="card_title" title='{{shop.store_name}}'>
                    <h2>{{shop.store_name}}</h2>
                  </div>
                  <div class="card_subtitle" title='{{shop.business_description}}'>
                    <h3>{{shop.business_description}}</h3>
                  </div>
                </div>
                </div>
        </div>
    </section>
    <section class="main-block " style="background: #f3f3f3;    padding-top: 100px;    padding-bottom: 100px; ">
      <div class="container">
          <div class="row">
              <div class="offset-md-2 col-md-8" style="text-align: center; ">
                  
                      <h2 class="cat-heading">{{second_title[business_type]}}</h2>
                      <p style="color: #666; padding-bottom: 40px;">Se vuoi accettare anche tu prenotazioni online chiamaci al numero: <a href="tel:+393312233645" style="color:#212121">+39 331 2233645</a><br>
                      Potrai ricevere prenotazioni fuori dall' orario di lavoro, accedere al tuo calendario da ovunque ed offrire ai tuoi clienti la possibilità di prenotare come preferiscono.</p>
                  
              </div>
          </div>
          <div class="row justify-content-center">
                  <div class="featured-btn-wrap">
                      <span style="margin: 0px 20px;"  class="btn btn--blue" ><a href="mailto:business@gmail.com">Email</a></span>              
                      <span style="margin: 0px 20px;"  class="btn btn--blue" ><a href="tel:+393312233645">Chiama</a></span>              
              </div>
          </div>
      </div>
  </section>
    <app-footer></app-footer>
</body>