<body>

    <app-header></app-header>
    <section class="main-block categories">
        <div class="container">
                <span (click)='back()' style="cursor: pointer;" class="back-search"><img src='../assets/icons/chevron-back-outline_black.svg'  style="height: 20px; color: #212121;"> <span style="padding: 12px 8px 0px 8px;">Indietro</span></span> 
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="styled-heading">
                        <h1 class="cat-heading"> I migliori {{categories_name[business_type]}} a Trieste</h1>
                        <p class="text-muted" style="text-align: center;">Clicca su un attività per prenotare</p>
                    </div>
                </div>
            </div>
            <div class="cards-list">

                <div class="card 1" *ngFor="let shop of shops" (click)='navigate(shop)' [class.blocked]='shop.closed'>
                  <div class="card_image"> <img src="{{shop.img_url}}" /> </div>
                  <div class="card_title">
                    <p>{{shop.store_name}}</p>
                  </div>
                  <div class="card_subtitle">
                    <p>{{shop.business_description}}</p>
                  </div>
                </div>
                </div>
        </div>
    </section>
    <app-footer></app-footer>
</body>