.categories{
    margin-top: 90px;
    padding-top: 40px;
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc( 100vh - 90px);
}
.category-block{
background: white !important;
}
.category-block:hover{
    background: #0061d5 !important;
}
.cat-heading{
    text-align: center;
    color:#444!important;
    margin-bottom: 60px;
    font-weight: 700;;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 210px;
    height: 210px;
    border-radius: 28px;
  box-shadow: 0 0 36px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  
  }
  .card .card_image img {
    width: 110px;
    height: 110px;
    border-radius: 23px;
    margin-top:30px;
    margin-left: 50px;
    // border-radius: 40px;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    color: #222 ;
    font-weight: 400;
    font-size: 30px;
    margin-top: 10px;
    font-weight: 500;
    padding-bottom: 5px;
    h2{
      color: #222 ;
      font-size: 15px;
      margin-bottom: 0px;
    }
  }
  .card .card_subtitle{
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    color: #666 ;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;

    h3{
      color: #666 ;
      font-size: 15px;
    }
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow:0 0 36px rgba(0,0,0,0.1)
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }

  .back-search{
    position: absolute;
    top:110px;
    left: 30px;
  }

  .blocked{
    opacity: 0.8;
  }
  span a{
    color: #fff;
  }