<app-header></app-header>
  


            
            <div class="cont-template" id='cont-scroll'>
                            <div class="hero-wrap " style="background-image: url({{businesses[slug].img_bg}});" >
                            <div class="bg-black-custom" [style.background]='businesses[slug].bg_opacity'>
                                <div class="container">
                                  <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start">
                                      <!-- <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                                          <span class="icon-play"></a>
                                      </a> -->
                                    <div class="col-md-8 ftco-animate" >
                                      <h1 class="mb-5" style="text-transform: capitalize;">{{businesses[slug].name}}</h1>
                                      <h3 class="mb-4" style="color: white; text-transform: uppercase;">{{businesses[slug].category}}</h3>
                                      <!-- <div (click)="ser='block'"data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><div  class="btn btn-primary px-4 py-3">Prenota appuntmamento</div></div> -->
                                      <div (click)="showServices()"><div style="z-index: 100;" class="btn btn-primary px-4 py-3">{{button_text}}</div></div>
                                      <!-- <div (click)="scrollInfo()" *ngIf='!book_site'><div style="z-index: 100;" class="btn btn-secondary px-4 py-3">Informazioni</div></div> -->
                                      <div (click)="goBookSite()" *ngIf='book_site'><div style="z-index: 100;" class="btn btn-secondary px-4 py-3">Prenota subito</div></div>
                                    
                                    </div>
                                  </div>
                                </div>
                            </div>
                              </div>
                              <section class="ftco-intro" style="padding-bottom:0px !important;">
                                    <div class="container-wrap">
                                        <div class="wrap d-lg-flex align-items-end">
                                            <div class="info">
                                                <div class="row no-gutters" style="text-align: center;">
                                                    <div class="col-lg-4 d-flex ftco-animate" style="padding: 10px ;">
                                                       
                                                        <div class="text">
                                                            <h3>  <div class="icon"><span class="icon-phone"></span></div>Telefono</h3>
                                                            <p>{{businesses[slug].phone}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 d-flex ftco-animate " style="padding: 10px ;">
                                                        
                                                        <div class="text">
                                                            <h3><div class="icon"><span class="icon-my_location"></span></div>Indirizzo</h3>
                                                            <p>{{businesses[slug].address}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 d-flex ftco-animate" style="padding: 10px ;">
                                                     
                                                        <div class="text">
                                                            <h3>   <div class="icon"><span class="icon-clock-o"></span></div>Orario di apertura</h3>
                                                            <p innerHTML='{{businesses[slug].hours}}'></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="social pl-lg-5 p-4 pl-md-12">
                                                <ul class="social-icon">
                                          
                                        </ul>
                                            </div> -->
                                        </div>
                                    </div>
                                </section>
                                <section class="ftco-section light-blue">
                                        <div class="container">
                                            <div class="row justify-content-center mb-4">
                                          <div class="col-md-7 heading-section ftco-animate text-center">
                                            <h2 class="mb-4">Informazioni<br><span>{{businesses[slug].name}}</span></h2>
                                            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                                          </div>
                                        </div>
                                            <div class="row justify-content-center">
                                                <div class="col-md-8 text-center ftco-animate" innerHTML='{{businesses[slug].description}}'>
                                                    <p>
                    </p>                                    
                                                </div>
                                            </div>
                                        </div>
                                </section>
                                <section class="ftco-section ">
                                        <div class="container">
                                                <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
                                              <div class="col-md-7 heading-section text-center ftco-animate">
                                                <h2 class="mb-4">Listino servizi &amp; prezzi</h2>
                                                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                                                <p class="mt-5">I nostri servizi ed listino prezzi</p>
                                              </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 offset-md-2">                                                    
                                                    <div class="pricing-entry ftco-animate" *ngFor='let service of services'>
                                                            <div class="d-flex text align-items-center">
                                                                <h3><span>{{service.name}}</span></h3>
                                                                <span class="price">{{ (service.price==0)? "Gratuito" : (service.price/100).toFixed(2) +"€"}}</span>
                                                            </div>
                                                            <div class="d-block">
                                                                <p>	Durata:<b> {{time_duration[service.duration]}}</b><br>                                                        
                                                            </div>
                                                        </div>
                                                </div>
                                    
                                             
                                            </div>
                                            </div>
                                        </section>
                                   
                                        <app-footer></app-footer>
            </div>
            
            
            <div class="cont-reg" [style.display]="register_form">
                <div class="close-cont-reg" (click)='register_form="none"'>  <img src="../assets/icons/closewhite.svg"/></div>
            <div class="register-form" *ngIf="formType=='Register'">
                    <h1>prenota</h1>
                <div class="header">
                    <div class="active">
                        Registrati
                    </div>
                    <div (click)="formType='Login'">
                        Accedi
                    </div>
                </div>
                <div class='inputs'>
                    <div class="row row-space">
                        <div class="col-2-r">
                            <div class="input-group">
                                <label class="label">Nome</label>
                                <input class="input--style-4" [(ngModel)]="first_name" type="text" name="first_name" placeholder="Mario">
                                <p *ngIf='first_name_err!=""'>{{first_name_err}}</p>
                            </div>
                        </div>
                        <div class="col-2-r">
                            <div class="input-group">
                                <label class="label">Cognome</label>
                                <input class="input--style-4" [(ngModel)]="last_name" type="text" name="last_name" placeholder="Rossi">
                                <p *ngIf='last_name_err!=""'>{{last_name_err}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2-r">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" [(ngModel)]="email" type="email" name="email"  placeholder="mario.rossi@email.com">
                                <p *ngIf='email_err!=""'>{{email_err}}</p>
                            </div>
                        </div>
                        <div class="col-2-r">
                                <div class="input-group">
                                    <label class="label">Numero di telefono</label>
                                    <input class="input--style-4"[(ngModel)]="phone" type="text" name="phone" placeholder="3312233645">
                                    <p *ngIf='phone_err!=""'>{{phone_err}}</p>
                                </div>
                            </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2-r">
                            <div class="input-group" >
                                <label class="label">Sesso</label>
                                <div class="p-t-10">
                                    <label class="radio-container m-r-45">Uomo
                                        <input type="radio" [(ngModel)]="sex" value="m"checked="checked" name="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">Donna
                                        <input type="radio" [(ngModel)]="sex" value="w" name="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-r">
                            <div class="input-group">
                                <label class="label">Password</label>
                                <input class="input--style-4" [(ngModel)]="password" type="password" name="password"  placeholder="********">
                                <p *ngIf='password_err!=""'>{{password_err}}</p>
                            </div>
                        </div>
                    </div>
                        <div class="button-reg">  <button (click)='SendBooking("register")'> <span *ngIf="!loading" style='font-family: "Comfortaa Bold" , sans-serif !important;'> prenota</span><div class="loader-5 center" *ngIf="loading"><span></span></div></button></div>
                </div> 
            </div>
            <div class="login-form" *ngIf="formType=='Login'"> 
                    <h1>prenota</h1>
                    <div class="header">
                        <div  (click)="formType='Register'">
                            Registrati
                        </div>
                        <div class="active">
                            Accedi
                        </div>
                    </div>
                    <div class='inputs'>
                    <p *ngIf='error!=""'>{{error}}</p>
                    <label class="label">Email</label>
                    <input class="input--style-4"  type="email" [(ngModel)]="email1" name="email" placeholder="mario.rossi@email.com">
                    <label class="label">Password</label>
                    <input class="input--style-4"  type="password" name="password" [(ngModel)]="password1"  placeholder="********">
                            <div class="button-reg">  <button (click)='SendBooking("login")' > <span *ngIf="!loading" style='font-family: "Comfortaa Bold" , sans-serif !important;'> prenota</span><div class="loader-5 center" *ngIf="loading"><span></span></div></button></div>
                    </div> 
                </div>
            </div>

            <div class="book_modal" [style.left]="booking_left" >
                    <div class="left">
                           <span (click)='closeBookingPage()' style="cursor: pointer;"><img src='../assets/icons/chevron-back-outline.svg'  style="height: 20px;"> <span style="color: white !important; padding: 12px 8px 0px 8px;">Indietro</span></span> 
                        <h2 class="name" (click)='closeBook()'>{{name}}</h2>
                        <h4>Seleziona uno o più servizi</h4>
                        <p *ngIf='show_scroll'>Scorri per vedere altri servizi</p>
                        <div class="list_cont" >
                            <div class="list_el_pos" *ngFor='let service of services, let i = index ' (click)="selectService(service,i)" [class.active]='checkServActive(service.id)'>
                            <div class="list_el" >
                               <div> {{service.name}}</div>
                               <div class="duration"> {{time_duration[service.duration]}}</div>
                            </div>
                        </div>
                        </div>
                    
                    </div>
                    <div class="right" *ngIf="service.length>0 && uniques.length>0">
                        <div class="date">
                            <h4>Seleziona una data</h4>
                            <p >Scorri lateralmente per vedere altri servizi</p>
                            <div class="list_cont" id='date'>
                                <div  [style.position]="position_book" style='right: 45px;  margin-top: 15px; height: 20px; line-height: 20px; cursor: pointer;' (click)='scroll(true, "date")'><img src='../assets/icons/chevron-forward-outline.svg'  style="height: 20px;"></div>
                                <div  [style.position]="position_book" style='left: calc(40vw + 75px);   margin-top: 15px; height: 20px; line-height: 20px; cursor: pointer;' (click)='scroll(false, "date")'><img src='../assets/icons/chevron-back-outline.svg'  style="height: 20px;"></div>
                            <div class="date_el" *ngFor='let date_avi of uniques, let ind = index' (click)="DatePicker(date_avi, ind, true)" [class.active]='date_avi.number == day && date_avi.month == month' >
                                    <div>{{week_name[date_avi.week_day]}} {{date_avi.number}} {{months_short[date_avi.month]}}</div>
                            </div>
                            </div>
                        </div>
                      
                    <!-- <div class=" item"> <div><span>Taglio</span><select><option *ngFor='let el of services_list'>{{el.name}}</option></select></div> </div>
                    <div class=" item"> <div><span>Colore</span><select><option *ngFor='let el of services_list'>{{el.name}}</option></select></div> </div>
                    <div class=" item"> <div><span>Taglio</span><select><option *ngFor='let el of services_list'>{{el.name}}</option></select></div> </div>
                    <div class=" item"> <div><span>Colore</span><select><option *ngFor='let el of services_list'>{{el.name}}</option></select></div> </div> -->
                        
                        <div class="time">
                            <h4>Seleziona un orario disponibile</h4>
                            <p >Scorri lateralmente per vedere altri orari</p>
                            <div class="list_cont" id='time'>
                                    <div  [style.position]="position_book" style=' right: 45px;  margin-top: 15px; height: 20px; line-height: 20px; cursor: pointer;' (click)='scroll(true, "time")'><img src='../assets/icons/chevron-forward-outline.svg'  style="height: 20px;"></div>
                                    <div   [style.position]="position_book"style='  left: calc(40vw + 75px);   margin-top: 15px; height: 20px; line-height: 20px; cursor: pointer;' (click)='scroll(false, "time")'><img src='../assets/icons/chevron-back-outline.svg'  style="height: 20px;"></div>
                            <div class="date_el" *ngFor='let spot of final_spots_displ' (click)="selectTime(spot)">
                                    <div>{{times[spot[0].start]}} </div>
                                    
                            </div>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="confirm" [style.display]='confirm' (click)='closeConfirm($event)' id='confirm'>
                <span class="modal">
                        <h4 >Riassunto prenotazione</h4>
                        <p><b>Servizio:</b> {{total_service.name}}</p>
                        <p><b>Data:</b> {{today}}</p>
                        <p><b>Orario:</b> {{timeslot}}</p>
                        <button (click)='book()'> <span *ngIf="!loading"> prenota</span><div class="loader-5 center" *ngIf="loading"><span></span></div></button>
                </span>
        </div>