<body>
        <div class="hero-wrap js-fullheight" style="background-image: url('../assets/trim/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
              <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
                  <!-- <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                      <span class="icon-play"></a>
                  </a> -->
                <div class="col-md-6 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                  <h1 class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">APARRUCCHIERI</h1>
                  <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a class="btn btn-primary px-4 py-3">Prenota appuntmamento</a></p>
                </div>
              </div>
            </div>
          </div>
          <section class="ftco-intro light-blue">
                <div class="container-wrap">
                    <div class="wrap d-md-flex align-items-end">
                        <div class="info">
                            <div class="row no-gutters">
                                <div class="col-md-3 d-flex ftco-animate">
                                    <div class="icon"><span class="icon-phone"></span></div>
                                    <div class="text">
                                        <h3>040 265209</h3>
                                        <p>Telefono</p>
                                    </div>
                                </div>
                                <div class="col-md-3 d-flex ftco-animate">
                                    <div class="icon"><span class="icon-my_location"></span></div>
                                    <div class="text">
                                        <h3>Via Pirano 12</h3>
                                        <p>34145 Trieste(TS) Italy</p>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex ftco-animate">
                                    <div class="icon"><span class="icon-clock-o"></span></div>
                                    <div class="text">
                                        <h3>Orario di apertura</h3>
                                        <p>Mar, Mer, Gio, Ven, Sab 
                                            9:00 - 19:00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="social pl-md-5 p-4">
                            <ul class="social-icon">
                      <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                      <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                      <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ftco-section light-blue">
                    <div class="container">
                        <div class="row justify-content-center mb-4">
                      <div class="col-md-7 heading-section ftco-animate text-center">
                        <h2 class="mb-4">Benvenuto da <span>Aparrucchieri</span></h2>
                        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                      </div>
                    </div>
                        <div class="row justify-content-center">
                            <div class="col-md-8 text-center ftco-animate">
                                <p>Presso il nostro centro di Trieste troverete un servizio professionale su tutto quello che riguarda lo stile moda capelli dedicato alla donna e all’uomo, aggiornandoci periodicamente e adottonado le ultime tecniche di lavoro possiamo stare sempre al passo con i tempi,cercando di dare sempre il massimo in qualità e acuratezza nei nostri lavori.</p>
                            </div>
                        </div>
                    </div>
            </section>
            <section class="ftco-section ">
                    <div class="container">
                            <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
                          <div class="col-md-7 heading-section text-center ftco-animate">
                            <h2 class="mb-4">Listino servizi &amp; prezzi</h2>
                            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                            <p class="mt-5">I nostri servizi ed listino prezzi</p>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="pricing-entry ftco-animate">
                                    <div class="d-flex text align-items-center">
                                        <h3><span>Taglio da uomo</span></h3>
                                        <span class="price">€20.00</span>
                                    </div>
                                    <div class="d-block">
                                        <p>Taglio tradizionale fatto a forbice con tecnica a prisma</p>
                                    </div>
                                </div>
                                <div class="pricing-entry ftco-animate">
                                    <div class="d-flex text align-items-center">
                                        <h3><span>Barba accorciata e rifilata</span></h3>
                                        <span class="price">€15.00</span>
                                    </div>
                                    <div class="d-block">
                                        <p>Accorciatura e rifinitura barba a forbice e rasoio elettrico</p>
                                    </div>
                                </div>
                                <div class="pricing-entry ftco-animate">
                                    <div class="d-flex text align-items-center">
                                        <h3><span>Colore</span></h3>
                                        <span class="price">€40.00</span>
                                    </div>
                                    <div class="d-block">
                                        <p>Servizio di colorazione capelli</p>
                                    </div>
                                </div>
                                <div class="pricing-entry ftco-animate">
                                    <div class="d-flex text align-items-center">
                                        <h3><span>Piega</span></h3>
                                        <span class="price">€15.00</span>
                                    </div>
                                    <div class="d-block">
                                        <p>Servizio di piega e styling finale</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-6">
                                <div class="pricing-entry ftco-animate">
                                    <div class="d-flex text align-items-center">
                                        <h3><span>Colpi di sole</span></h3>
                                        <span class="price">€55.00</span>
                                    </div>
                                    <div class="d-block">
                                        <p>Decolorazione per capelli con tecnica di colpi di sole</p>
                                    </div>
                                </div>
                                <div class="pricing-entry ftco-animate">
                                        <div class="d-flex text align-items-center">
                                            <h3><span>Talgio donna</span></h3>
                                            <span class="price">€20.00</span>
                                        </div>
                                        <div class="d-block">
                                                <p>Taglio tradizionale fatto a forbice con tecnica a prisma</p>
                                        </div>
                                    </div>
                                    <div class="pricing-entry ftco-animate">
                                            <div class="d-flex text align-items-center">
                                                <h3><span>Shatush</span></h3>
                                                <span class="price">€40.00</span>
                                            </div>
                                            <div class="d-block">
                                                <p>Cotonamento capelli, e applicazione a pennello del prodotto schiarente.</p>
                                            </div>
                                        </div>
                                <div class="pricing-entry ftco-animate">
                                    <div class="d-flex text align-items-center">
                                        <h3><span>Flamboyage</span></h3>
                                        <span class="price">€50.00</span>
                                    </div>
                                    <div class="d-block">
                                        <p>Contrasti eseguiti usando delle pellicole adesive, per un risultato naturale</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        </div>
                    </section>
                    <section class="ftco-section ftco-discount img" style="background-image: url(../assets/trim/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row justify-content-center" data-scrollax-parent="true">
                                <div class="col-md-7 text-center discount ftco-animate" data-scrollax=" properties: { translateY: '-30%'}">
                                    <h3>Prendi appuntamento online</h3>
                                    <h2 class="mb-4">Tutti i servizi disponibili</h2>
                                    <p class="mb-4" style="color: white;">Senza doverti distubare a prendere il telefono e chiamare, puoi prendere appuntmento direttamente da qui</p>
                                    <p><a class="btn btn-primary px-4 py-3">Prenota subito</a></p>
                                </div>
                            </div>
                        </div>
                    </section>

</body>