.online{
    position: absolute;
    color: white;
    text-align: center;
    padding: 20px 0px;
    font-size: 18px;
    display: block;
    z-index: 1000;
    background: rgb(190, 46, 46);
    width: 100vw;
    
    }