.home{
    display:block;
    height: calc(100vh - 90px);
    width: 100vw;
    margin-top: 90px;
    grid-template-columns: 2fr ;
    font-size: 1.5vw;
}
body{
    background-image: url('./../../assets/Waves-multiple.svg');
    background-repeat: no-repeat;
    background-size: cover;
    // height: 100vh;
}
.appo_list{
    // background: #fcfcfc;
    position: relative;
}
h1{
    line-height: 60px;
    color: #fff;
}
.appos{
    overflow: scroll;
    width: 100%;
    margin: 20px 0px  0px ;
    padding: 0px 0px 20px 0px;
    height: calc(100vh - 230px);
}
.appos-1{
    overflow: hidden;
    width: 100%;
    margin:  0px;
    padding: 40px 0px 60px 0px;
    height: calc(100vh - 190px);
}
.appo:nth-child(odd){
    margin:20px 5% 0px 15%;
}
.appo:nth-child(even){
    margin:20px 15% 0px 5% ;
}
.appo{
 position: relative;
 width: 30% !important;
 display: inline-block;

 padding: 20px;
 border-radius: 10px;
 background: #fff;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
 h1{
     font-size: 28px;
     color: #263b5e;
     line-height: initial !important;
 }
 
 h3{
    font-size: 18px;
    color: #00479D;
 }
 .appo_date{
     h4{
        font-size: 18px;
     }
 }
 .del_img{
     cursor: pointer;
    position: absolute;
    right: 20px;
    top: calc(50% - 13px);
    height: 26px;
}
.del_img:hover{
    cursor: pointer;
   position: absolute;
   right: 20px;
   top: calc(50% - 13px);
   height: 32px;
}
}
.appo-1{
    position: relative;
    cursor: pointer;
    width: 70%;
    margin-top: 20px;
    padding: 20px;
    margin-left: 15%;
    border-radius: 10px;
    display: block;
    background: #00479D;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    h1{
        font-size: 28px;
        color: #fff;
        line-height: initial !important;
    }
    img{
        position: absolute;
        right: 20px;
        height: 40%;
        top:30%;
    }
}
.appo-1:hover{
    background: #0073ff;
}

.bottom-login{
    position: relative;
    bottom: 30px;
    width: 100%;
    font-size: 16px;;
    text-align: center;
    a{
        color: #0061d5;
    }
    a:hover{
        color: rgb(0, 162, 255);
    }
}
.log_out{
    position: absolute;
    height: 30px;
    top: 10px;
    right: 30px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    img{
        margin-top: -5px;
        height:  30px;
    };
}


.cont-reg{
    position: fixed;
    top: 0vw;
    width: 100vw;
    display: block;
    height: 100vh;
    display: block;
    z-index: 1000;
    overflow: hidden;
    margin: 0;
    background: rgba($color: rgb(1, 28, 83), $alpha: 0.8);
    h1{
        width: 100%;
        display: block;
        text-align: center;
        font-family: "Comfortaa" , sans-serif !important;
        color: #0061d5;
        padding:0px 0px 0px 0px;
        margin: 0px;
    }
    input:focus, button:focus, select:focus{
        outline: none;
    }
}
.input-group{
    p{
        padding: 0 !important;
        margin: 0 !important;
    }
}
.login-form{
    padding: 2vw;
    border-radius: 10px;
    position: absolute;
    top: 25vh;
    width: 50vw;
    left: 25vw;
    display: block;
    background: white;
    z-index: 3;
    .close-note{
        position: absolute;
        top: 2vw;
        width: 2vw;
        left: 46vw;
        img{
            object-fit: cover;
            width: 100%;
            display: block;
        }
    }
    label{
        color: #00479D;
        margin-top: 10px;
    }
    h1{
        font-family: "Comfortaa" , sans-serif !important;
    }
    .header{
        height: 60px;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        color: #B3D1F1;
        border-radius: 10px;
        background: #0061d5;
        div{
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 60px;
        }
        .active{
            color: #fff;
            background: #00479D;
            border-radius: 10px;
        }

    }
    button{
        position: relative;
        margin-right:0px;
        margin-top: 20px;
        padding: 15px 20px;
        font-size: 15px;
        width: auto;
        color: #fff;
        border-radius: 10px;
        background: #0061d5;
        box-shadow: 0 1px 1px rgba(#092457, 0.4)!important;
    }
    button:hover{
        background: -webkit-linear-gradient(bottom left, #2cb0fc 0%, #1f2da8 100%) !important;
        background: -moz-linear-gradient(bottom left, #2cb0fc 0%, #1f2da8 100%)!important;
        background: -o-linear-gradient(bottom left, #2cb0fc 0%, #1f2da8 100%)!important;
        background: linear-gradient(to top right, #2cb0fc 0%, #1f2da8 100%)!important;
        box-shadow: 0 10px 14px rgba(#092457, 0.4)!important;
    }
    .inputs{
        padding: 2vh 5vw 0px 5vw ;
        p{
            color: firebrick;
            text-align: center;
            width: 100%;
            display: block;
        }
    }
    .button-reg{
        width: 100%;
        text-align: center;
    }
}
.close-cont-reg{
    position: absolute;
    width: 5vw;
    left: 90vw;
    top: 5vw;
    img{
      width: 5vh;
    }
}

.note_btn{
    background: #00479D;
    color: #fff;
    display: inline-block;
    margin:10px 10px 0px 0px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 5px;
    // width: auto;
    transition: 200ms;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.08);
    img{
        height: 18px;
        margin: 0px 0px 0px 15px !important;
    }
}
.note_btn:hover{
    background: #0061d5;

box-shadow: 0 10px 14px rgba(#092457, 0.4)!important;
}
.delete_btn{
    background: #a1020a;
    color: #fff;
    display: inline-block;
    margin:10px 10px 0px 0px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 5px;
    // width: auto;
    transition: 200ms;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.08);
    img{
        height: 18px;
        margin: 0px 0px 0px 15px !important;
    }
}
.delete_btn:hover{
    background: #bb020b;

box-shadow: 0 10px 14px rgba(#092457, 0.4)!important;
}

.top_log{
    margin-top: 60px;
}
.log_out1{
    display: none;
}
@media(max-width: 500px){
    .login-form{
        width: 96vw !important;
        left: 2vw;
        .close-note{
            position: absolute;
            top: 5vw;
            width: 4vw;
            left: 86vw;
            img{
                object-fit: cover;
                width: 100%;
                display: block;
            }
        }
    }
    .top_log{
        padding: 0 20px;
        margin-top: 20px !important;
    }
    .log_out{
        display: none !important;
    }
    .log_out1{
        display: block !important;
        position: absolute;
        /* height: 30px; */
        width: 100vw;
        text-align: center;
        top: 90vh;
        /* right: 30px; */
        font-size: 24px;
        color: #0061d5;
        img{
            margin-top: -5px;
            height:  30px;
        };
    }
 
.appo{
    width: 90% !important;
    margin: 20px 5% !important;
        h1{
            font-size: 21px !important;
            color: #263b5e;
            line-height: initial !important;
        } 
        h3{
            font-size: 13px !important;
            color: #00479D;
            }
        .appo_date{
        h4{
            font-size: 13px !important;
        }
        }
    }

    .appos{
        height: calc(100vh - 290px) !important;
    }
.appo-1{
    width: 90% !important;
    margin-left: 5%;
        h1{
            max-width: 70%;
            font-size: 21px !important;
            line-height: initial !important;
        } 
 }
}