.cont{
  background: rgba($color: #0061d5, $alpha: 0.8) !important;
  height: var(--full-heigth);
  width: 100vw;
  overflow: hidden;
}
.payment_cont{
  position: relative;
  top:0px;
  width: 600px;
  margin-left: calc(100vw - 600px);
height: var(--full-heigth);
overflow: hidden;
background: #fff;

text-align: center;
h3{
  color: #1a1a1a99;
  padding: 80px 9vw 0px 9vw;
  font-size: 21px;
}
h2{
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 64px;
  color: #1a1a1a;
}

.info{
  position: absolute;
  top:20px;
  right:20px;
  width: 20px;
  height: 20px;
  img{
    object-fit: cover;
    width: 100%;
  }
}
#payment-request-button{
  position: relative;
  width: 240px;
  margin: 20px auto;
  border-radius: 7px;
  box-shadow: 0 0 5px 1px #ddd;
}
#card-element{
    position: relative;
    width: 300px;
    padding: 10px 15px;
    border-radius: 7px;
    margin: 20px auto;
    box-shadow: 0 0 5px 1px #ddd;
}
button{
  width: 240px;
  margin: 0px 9vw 0px 9vw;
  padding: 0px 10px;
  height: 40px;
  border-radius: 7px;;
  line-height: 40px;
  font-size: 16px;

  // font-weight: 700;
  position: relative;


  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,50,0.17);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,50.17);
  box-shadow: 0px 0px 15px 0px rgba(0,0,50,0.17);
  
}
.apple_pay{
  color: #fff;
  background: #000;
  font-size: 21px  !important;
   font-weight: 600;
  img{
      height: 20px;
      margin-bottom: 2px;
      margin-right: 1px;
  }
}
.existing_card{
  div{
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 2fr;
  }
 
  font-size: 13px;
  margin-bottom: 20px;

  img{
      height: 21px;
      margin-bottom: 2px;
      // margin-right: 1px;
  }
}
.credit_card{
  font-size: 15px  !important;
  font-weight: 400;
  background: #003679;
  color: white;
}
.pay_on_spot{
  position: absolute;
  height: 80px;
  line-height: 80px;
  bottom: 0px;
  left: 0px;
  margin: 0px 40px;
  width: 520px;
  text-align: center;
  border-top:  #1a1a1a99 1px solid;
  p{
    height: 80px;
    line-height: 80px;
  }
}
}

.center_v{
  width: 600px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  p{
    color: #778;
    margin:40px
  }
}