section{
    margin-top:90px ;
    padding: 40px;
}
h1{
    text-align: center;
}
h3{
    margin: 50px 0px 30px 0px;
}
a{
    color: #0061d5;
    font-weight: 500;
    text-decoration: underline ;
}
p{
    font-size: 16px;
}
.small-t{
    font-size: 13px;
    color: #3b475b
}
.color{
    color: #00479D
}