.highlight{
    color: #333333;
    
    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin:0
    }
    body{
        -webkit-touch-callout: none; 
        -webkit-user-select: none; 
         -khtml-user-select: none; 
           -moz-user-select: none; 
            -ms-user-select: none; 
                user-select: none; 
    }
    select::-ms-expand {
        display: none;
    }
    select{
        display: inline-block;
        color: #00468e;
        border-radius: 5px;
        text-align: center;
        width:auto;
        padding:  5px;
        font-size: 14px;
        // -webkit-appearance: none;
        // -moz-appearance: none;      
        // appearance: none;
        cursor: pointer;
    }
    .select_no_margin_left{
        border: none;
        padding: 4px !important;
        margin:0px 0px 10px 0px !important;
    }
    .highlight:hover{
        color: #ffffff !important;
        background: #0061D5;
        }
    [class^="icon-"], [class*=" icon-"] {
        font-family: 'icomoon' !important;
    }
    .image-logo{
        position: absolute;
        top:30%;
        width: 60%;
        left:20%;
        img{
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
        }
    
    }
    
    
    .top-bar{
        position: fixed;
        top:0px;
        left: 0px;
        z-index: 100;
        height:160px;
        width:100vw;
        padding: 0;
        display: block
    }
    .bot-bar{
        position: fixed;
        bottom:0px;
        left: 0px;
        z-index: 100;
        width:100vw;
        padding: 10px;
        display: none;
    }
    .service{
        left:0px;
        position: fixed;
        top:90px;
        z-index: 100;
        height:80px;
        width:100vw;
        background: #0061d5;
        padding: 10px 10vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        box-shadow: 0 10px 10px rgba(#2c59ac, 0.4);
        h2{
            font-family:  'Open Sans', sans-serif !important;
            margin: 0px 10px;
            grid-column-start: 1; 
            grid-column-end: 5; 
            grid-row-start: 1; 
            color: #00479D;
            font-weight: 500;
            grid-row-end: 2; 
        }
        div{
            background:white;
            text-align: center;
            // overflow: hidden;
            text-overflow: ellipsis;
            margin: auto;
            line-height: 60px;
            border-radius: 10px;
            font-size: 18px;
            box-shadow: 0 3px 6px rgba(#2c59ac, 0.4);
            margin: 0px 10px;
            display: inline-block;
            height: 60px;
            position: relative;
            cursor: pointer;
        }
        .cont-1{
            position: relative;
            grid-column-start: 1; 
            grid-column-end: 3; 
    
        }
        .cont-2{
            grid-column-start: 3; 
            grid-column-end: 5; 
    
        }
    }
    .time{
        position: absolute;
        display:block;
        background: #ffffff;
        top: 0px;
        border-radius: 10px;
        height: auto;
        left: 21vw;
        width: 38vw;
        z-index: 2;
        box-shadow: 0 5px 7px rgba(#2c59ac, 0.4);
        .day{
            display: inline-block;
            padding: 5px 0px;
            width: calc(100% / 7);
            text-align: center;
            color: #333333;
            }
        .month{
            display: block;
            border-radius: 10px;
            font-size: 16px;
            height: 50px;
            line-height: 50px;
            width: 38vw;
            color: #333;
            text-align: center;
            box-shadow: 0 1px 1px rgba(#2c59ac, 0.4);
            img{
                height: 16px;
            }
            .img-start{
                position: absolute;
                top:17px;
                left: 10px;
            }
            .img-end{
                position: absolute;
                top:17px;
                right: 10px;
            }
        }
        .month::selection {
            color: #dddddd;
        }
        .m-day{
            display: inline-block;
            padding: 5px 0px;
            line-height: 30px;
            width: calc(100% / 7);
            text-align: center;
            p{
                margin:0px;  
            }
            color: #dddddd;
        }
        .m-day:hover{
            z-index: 5;
            border-radius: 5px;
            background: #0061d5;
            color: #ffffff;
        }
    }
    .bookings-time{
        position: absolute;
        overflow: scroll;
        display:block;
        background: #ffffff;
        top: 0px;
        height: calc( 100vh - 210px);
        left: 0vw;
        width: 100vw;
        color: #6a7695;
        z-index: 2;
        box-shadow: 0 5px 7px rgba(#2c59ac, 0.4);
        .employee-spot{
            overflow: scroll;
            margin:0px;
            padding: 0px;
        }
        .cont-timeslots{
            width: 100%;
            display: block;
            // max-height: 200px;
            overflow: scroll;
        }
        .nada{
            display: block;
            font-size: 18px;
            // line-height: 13px;
            top:-10px;
            margin: 20px;
            padding:20px;
        }
        h3{
            font-size: 18px;
            line-height: 18px;
            margin: 5px;
            padding:0px
        }
      
    }
    .time-available1{
        font-size: 13px;
        display: inline-block;
        margin: 10px;
        padding: 10px;
        line-height: 1.5;
        background: white;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 5px 7px rgba(44, 89, 172, 0.4);
         color: #6a7695
    }
    .time-available1:hover{
        background: #0061d5;
        color: #ffffff;
       
    }
    .time-available2{
        display: inline-block;
        margin: 10px ;
        background: white;
        border-radius: 5px;
        line-height: 40px;
        text-align: center;
        padding: 10px 15px;
        // width: 80px;
        font-size: 13px;
        box-shadow: 0 5px 7px rgba(#2c59ac, 0.4);
    }
    .time-available2:hover{
        background: #0061d5;
        color: #ffffff;
       
    }
    .services-cont{
        background: #000000aa;
        position: absolute;
        display:block;
        top: 70px;
        left: calc(-10vw - 10px);
        width: 120vw;
        height: calc(100vh - 160px);
        overflow: hidden;
        text-align: center;
        
            .time-slot{
                margin: 5px;
                border-radius: 5px;
                padding:  15px 20px;
                font-size: 13px;
                line-height: 15px;
                text-align: center;
                display: inline-block;
                color: #28264d;
                background: #fff;
                border: 1px solid white;
                box-shadow: 0 5px 7px rgba(#2c59ac, 0.2);
            }
        .close{
            opacity: 1.6;
            position: fixed;
            text-align: center;
            bottom: 0px;
            padding:10px 0px;
            color: white;
            background: #000;
            font-weight: 600;
            font-size: 15px;
            left:-10px;
            width: 100vw;
            // line-height: 30px;
            // height: 30px;
            border-radius: 0px;
        }
    }
    .white_ss{
        background: #fff;
        display: block;
        padding: 10px;
    }
    .services-cont2{
        width: 100vw;
        left: calc(-30vw - 10px ) !important;
    
    }
    .services-cont3{
    
        left: calc(-50vw - 10px ) !important;
    }
    .services{
        position: absolute;
        display:block;
        overflow: hidden;
        background: #ffffff;
        top: 0px;
        height: auto;
        width: 100vw;
        color: #6a7695;
        text-overflow: ellipsis;
        z-index: 2;
        text-align: left;
        box-shadow: 0 5px 7px rgba(#2c59ac, 0.4);
        
    
    }
    
    .time-available{
        position: relative;
        text-align: left !important;
        display: inline-block;
        padding: 0px 20px;
        width: calc(100vw / 3);
        border: solid 1px #eeeeee;
        text-transform: capitalize;
        margin: 0;
        background: white;
        color: #263b56;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        .lefty{
            position: absolute;
            right: 10px;
        }
        span{
            font-size: 10px;
            text-transform: lowercase !important;
            margin-left: 10px;
        }
    }
    .time-available:hover{
        background: #cae2ff;
        color: #263b56;
        cursor: pointer;
    }
    .prenota{
        color: #ffffff !important;
        background: #0061d5 !important;
        font-size: 24px !important;
        font-family: "Comfortaa" , sans-serif;
        cursor: pointer;
    }
    .prenota-blue{
        color: #0061d5 !important;
        background: #fff !important;
        font-size: 24px !important;
        font-family: "Comfortaa" , sans-serif;
    }
    .ccbox{
        top:10px;
        margin-top:10px;
        box-shadow: 0 5px 7px rgba(#092457, 0.4)!important;
        padding: 0 !important;
        border-radius: 10px!important;
        overflow: hidden !important;;
    }
    .cont-reg{
        position: fixed;
        top: 0vw;
        width: 100vw;
        height: 100vh;
        display: block;
        z-index: 1000;
        overflow: hidden;
        margin: 0;
        background: rgba($color: rgb(1, 28, 83), $alpha: 0.8);
        h1{
            width: 100%;
            display: block;
            text-align: center;
            font-family: "Comfortaa" , sans-serif !important;
            color: #0061d5;
            padding:0px 0px 20px 0px;
        }
        input:focus, button:focus, select:focus{
            outline: none;
        }
    }
    .input-group{
        p{
            padding: 0 !important;
            margin: 0 !important;
        }
    }
    .register-form{
        padding: 2vw;
        border-radius: 10px;
        position: absolute;
        top: 10vh;
        width: 50vw;
        left: 25vw;
        display: block;
        background: white;
        z-index: 3;
        h1{
            font-family: "Comfortaa" , sans-serif!important;
        }
        label{
            color: #00479D;
            margin-top: 10px;
        }
        .header{
            height: 60px;
            display: grid;
            text-align: center;
            grid-template-columns: 1fr 1fr;
            color: #B3D1F1;
            border-radius: 10px;
            background: #0061d5;
            div{
                font-size: 18px;
                letter-spacing: 1px;
                line-height: 60px;
            }
            .active{
                color: #fff;
                background: #00479D;
                border-radius: 10px;
            }
    
        }
        button{
            position: relative;
            margin-right:0px;
            margin-top: 20px;
            padding: 15px 20px;
            font-size: 18px;
            width: 30vw;
            color: #fff;
            border-radius: 10px;
            background: #0061d5;
            box-shadow: 0 1px 1px rgba(#092457, 0.4)!important;
        }
        button:hover{
            background: -webkit-linear-gradient(bottom left, #2cb0fc 0%, #1f2da8 100%) !important;
            background: -moz-linear-gradient(bottom left, #2cb0fc 0%, #1f2da8 100%)!important;
            background: -o-linear-gradient(bottom left, #2cb0fc 0%, #1f2da8 100%)!important;
            background: linear-gradient(to top right, #2cb0fc 0%, #1f2da8 100%)!important;
            box-shadow: 0 10px 14px rgba(#092457, 0.4)!important;
        }
        .inputs{
            padding: 2vh 5vw 0px 5vw ;
        }
        .button-reg{
            width: 100%;
            text-align: center;
        }
    }
    .close-cont-reg{
        position: absolute;
        width: 5vw;
        left: 90vw;
        top: 5vw;
        img{
          width: 5vh;
        }
    }
    .login-form{
        padding: 2vw;
        border-radius: 10px;
        position: absolute;
        top: 10vh;
        width: 50vw;
        left: 25vw;
        display: block;
        background: white;
        z-index: 3;
        label{
            color: #00479D;
            margin-top: 10px;
        }
        h1{
            font-family: "Comfortaa" , sans-serif !important;
        }
        .header{
            height: 60px;
            display: grid;
            text-align: center;
            grid-template-columns: 1fr 1fr;
            color: #B3D1F1;
            border-radius: 10px;
            background: #0061d5;
            div{
                font-size: 18px;
                letter-spacing: 1px;
                line-height: 60px;
            }
            .active{
                color: #fff;
                background: #00479D;
                border-radius: 10px;
            }
    
        }
        button{
            position: relative;
            margin-right:0px;
            margin-top: 20px;
            padding: 15px 20px;
            font-size: 18px;
            width: 30vw;
            color: #fff;
            border-radius: 10px;
            background: #0061d5;
            box-shadow: 0 1px 1px rgba(#092457, 0.4)!important;
        }
        button:hover{
            background: -webkit-linear-gradient(bottom left, #2cb0fc 0%, #1f2da8 100%) !important;
            background: -moz-linear-gradient(bottom left, #2cb0fc 0%, #1f2da8 100%)!important;
            background: -o-linear-gradient(bottom left, #2cb0fc 0%, #1f2da8 100%)!important;
            background: linear-gradient(to top right, #2cb0fc 0%, #1f2da8 100%)!important;
            box-shadow: 0 10px 14px rgba(#092457, 0.4)!important;
        }
        .inputs{
            padding: 2vh 5vw 0px 5vw ;
            p{
                color: firebrick;
                text-align: center;
                width: 100%;
                display: block;
            }
        }
        .button-reg{
            width: 100%;
            text-align: center;
        }
    }
    .logOut{
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 10px 50px;
        height: 60px;
        width: 20vw;
        background: #0061d5;
        z-index: 10;
        display: block;
        text-align: right;
        border-radius: 10px;
        button{
    
            padding:10px;
            border-radius: 10px;
            color: #0061d5;
            background: #fff;
            box-shadow: 0 10px 14px rgba(#092457, 0.4)!important;
        }
    }
    .cont-template{
    position: relative;
    margin-top:170px;
    }
    .mini{
        width: 100%;
        text-align: left;
        line-height: 14px;
        display: block;
        font-size: 10px;
        // color:#7f7f7f
    
    }
@media (max-width: 576px) {
    .service{
        display: none!important;
    }
    .cont-template{
        margin-top:90px!important;
        }
}

