// @import '@angular/material/prebuilt-themes/indigo-pink.css';
// @import "~assets/butterfly/assets/vendor/bootstrap/css/bootstrap.min.css";
// @import "~assets/butterfly/assets/vendor/icofont/icofont.min.css" ;
// @import "~assets/butterfly/assets/vendor/boxicons/css/boxicons.min.css" ;
// @import "~assets/butterfly/assets/vendor/venobox/venobox.css";
@import "~assets/butterfly/assets/vendor/line-awesome/css/line-awesome.min.css";
// @import "~assets/butterfly/assets/vendor/owl.carousel/assets/owl.carousel.min.css" ;
// @import"~assets/template/vendor/mdi-font/css/material-design-iconic-font.min.css"  ;
// @import"~assets/template/vendor/font-awesome-4.7/css/font-awesome.min.css" ;
// @import"~assets/template/vendor/select2/select2.min.css";
// @import"~assets/template/vendor/datepicker/daterangepicker.css"; 
@import"~assets/template/css/main.css";
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
/* Googel Fonts End  

*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,600,700");
@import"~assets/author/css/animate.css";
// @import"~assets/author/css/owl.carousel.min.css";
// @import"~assets/author/css/owl.theme.default.min.css";
// @import"~assets/author/css/magnific-popup.css";
@import"~assets/author/css/flaticon.css";
@import"~assets/author/css/style.css";
// @import"~assets/landing/vendors/owl-carousel/css/owl.carousel.min.css";
// @import"~assets/landing/vendors/owl-carousel/css/owl.theme.default.css";
// @import"~assets/landing/vendors/mdi/css/materialdesignicons.min.css";
// @import"~assets/landing/vendors/aos/css/aos.css";
@import"~assets/landing/css/style.css" ;

@import "~assets/listing/css/set1.css";

// @font-face {
// 	font-weight: normal;
// 	font-style: normal;
// 	font-family: 'feathericons';
// 	src:url('./assets/listing/fonts/feathericons/feathericons.eot?-8is7zf');
	// src:url('./assets/listing/fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
	// url('./assets/listing/fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
	// url('./assets/listing/fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
	// url('./assets/listing/fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
// }

@font-face {
  font-family: 'simple-line-icons';
  src: url('./assets/listing/fonts/Simple-Line-Icons.eot?v=2.4.0');
  src: url('./assets/listing/fonts/Simple-Line-Icons.eot?v=2.4.0#iefix') format('embedded-opentype'), 
  url('./assets/listing/fonts/Simple-Line-Icons.woff2?v=2.4.0') format('woff2'), 
  url('./assets/listing/fonts/Simple-Line-Icons.ttf?v=2.4.0') format('truetype'), url('./assets/listing/fonts/Simple-Line-Icons.woff?v=2.4.0') format('woff'), url('./assets/listing/fonts/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    -ms-overflow-style: none !important;;  /* IE and Edge */
    scrollbar-width: none !important;;  /* Firefox */
    font-family:  'Open Sans', sans-serif !important;
}
html{
  overflow-x: hidden;
  
}

body::-webkit-scrollbar {
  display: none !important;;
}
div, body, table{
  -ms-overflow-style: none !important;;  /* IE and Edge */
  scrollbar-width: none !important;;  /* Firefox */
}
div::-webkit-scrollbar {
  display: none !important;;
}
table::-webkit-scrollbar {
  display: none !important;;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
