@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "~assets/butterfly/assets/vendor/bootstrap/css/bootstrap.min.css";
@import "~assets/butterfly/assets/vendor/icofont/icofont.min.css" ;
@import "~assets/butterfly/assets/vendor/boxicons/css/boxicons.min.css" ;
@import "~assets/butterfly/assets/vendor/venobox/venobox.css";
@import "~assets/butterfly/assets/vendor/line-awesome/css/line-awesome.min.css";
@import "~assets/butterfly/assets/vendor/owl.carousel/assets/owl.carousel.min.css" ;
@import"~assets/template/vendor/mdi-font/css/material-design-iconic-font.min.css"  ;
@import"~assets/template/vendor/font-awesome-4.7/css/font-awesome.min.css" ;
@import"~assets/template/vendor/select2/select2.min.css";
@import"~assets/template/vendor/datepicker/daterangepicker.css"; 
@import"~assets/template/css/main.css";


@font-face {
    font-family: "Comfortaa Regular";
    src: url('./assets/Comfortaa/static/Comfortaa-Regular.ttf') format('opentype');
  }
  @font-face {
    font-family: "Comfortaa Bold";
    src: url('./assets/Comfortaa/static/Comfortaa-Bold.ttf') format('opentype');
  }

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family:  'Open Sans', sans-serif !important;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
