/**
* The CSS shown here will not be introduced in the Quickstart guide, but
* shows how you can use CSS to style your Element's container.
*/
input,
.StripeElement {

  padding: 5px 10px;
  color: #32325d;
  background-color: #f3f3f9;
  border: 1px solid transparent;
  border-radius: 4px;

  font-size: 15px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
// #email{
//   width: 110%;
// }
input:focus,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.col{
  text-align: left;
  display: inline-block;
  margin: 0px;
  width: 40%;
}
.form-row{
  margin: 20px;
  label{
    display: block;
    padding: 5px 0px
  }
}
#mandate-acceptance{
  padding: 5px;
  text-align: justify;
  font-size: 11px;
}
.mandate-ita{
  padding: 5px;
  text-align: justify;
  font-size: 11px;
}

///// my scss
.pay-cont{
    position: relative;
    
    bottom: 0px;
    margin-bottom:0px;
    padding: 60px 20px 10px 20px;
    // border-radius: 15px;
    border-top: 5px solid #02203c;
    width: 100%;
    // margin-left: 30vw;
    background-color: #fff;
    color: #02203c;
  }
  .confirm-pay{
    width:100%;
    text-align: center;
    button{
      color: #fff;
      border: none;
      background: #0061d5;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 500;
      width: 16vw;
      margin: 20px auto;
      box-shadow: 0 5px 7px rgba(#ffffff, 0.2);
    }
    
  }
  .confirm-pay1{
    width:100%;
    text-align: center;
    button{
      color: #fff;
      border: none;
      background: #0061d5;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 500;
      width: 50%;
      margin: 20px auto;
      box-shadow: 0 5px 7px rgba(#ffffff, 0.2);
    }
    
  }
  .confirm-pay:focus{
    button{
      outline: none;
    }

  }

  .payment-selection{
    display: grid;
    cursor: pointer;
    grid-template-columns: 1fr  1fr;
    margin-bottom: 30px;
    div{
      justify-content: center;
      align-content: center;
      display: inline-block;
      height: 80px;
      text-align: center;
      padding: 5px;
      img{
        height: 40px;
      }
      p{
        bottom: 0px;
      }
    }
    .active{
    background: #cae0fc;
    border-bottom: 5px solid #02203c;
    }
  }
.background_payment {
  position: fixed;
  left:0px;
  background-image: url('./../../../assets/Waves-multiple.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: var(--full-heigth);
  overflow: hidden;
  z-index: 10000000;
  top:0px;
  width: 100vw;
  text-align: center;
  // background: rgba($color: #0061d5, $alpha: 0.5);
}
.background_payment1{
  position: relative;
  text-align: center;
  top:0px;
  width: 100vw;
  height: var(--full-heigth);;
  text-align: center;
  overflow: scroll;
  // background: rgba($color: #0061d5, $alpha: 0.5);
}
.document{
  position: relative;
  display: block;
  left: calc(50vw - 10.5cm);
  width: 21cm;
  border-radius: 15px;
  box-shadow:0 10px 40px rgba(0,0,0,0.08);
  // height: var(--full-heigth);
  overflow: hidden;
  margin:50px 0pc;
  background: #fff;
}
.close-catalog{
  position: absolute;
  width: 5vw;
  left: 90vw;
  top: 5vw;
  img{
    width: 5vh;
  }
}
h1{
  width: 100%;
  font-size: 36px;
  display: inline-block;
  // text-align: center;
  font-family: "Comfortaa" , sans-serif !important;
  color: #0061d5;
  letter-spacing: 1px;
  padding:40px  0px 20px 0px;
}

// h2{
//   font-weight: 700;
//   font-size: 36px;
// }
p{
  // font-size: 18px;
}
h5{
  font-size: 24px;
}
h4{
  font-size: 21px;
}