body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: block;
}
.home{
    display:grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 2fr 8fr;
    font-size: 1.5vw;

}

// 



.side-menu{
    background: #0061d5;
    color: #B3D1F1;
    font-size: 28px;
    button{
        position: relative;
        top: 44vh;
        display: inline-block;
        background:#fff;
        height: 15vh;
        width: 80%;
        margin-left: 2vw;
        border-radius: 10px;
        color: #00479D;
        font-size: 21px;
        cursor: pointer;
    }
    .menu-home{
        color: white;
        background: #00479D;
        width: max-content;
        margin-right: 30px;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 20px;
        font-weight: 500;
        position: relative;
        margin-top: 10vh;
        margin-left: 2vw;
        display: block;    
        cursor: pointer;
    }
    .menu-settings{
        position: relative;
        padding-left: 5px;
        padding-right: 20px;
        margin-top: 5vh;
        margin-left: 2vw;
        display: block;
        cursor: pointer;
    }
    .menu-logout{
        color: white;
        position: absolute;
        top: 90vh;
        margin-left: 2vw;
        display: block;
        cursor: pointer;
        img{
            margin-top: -3.5%;
            margin-left: -3.5%;
            height: 2.8vh;
        }
    }
}
.calendar{
    background: #EFF2FA;
    display:grid;
    grid-template-rows: 1fr 14fr;
}
.date{
    align-self:end;
    display:grid;
    grid-template-columns: 5fr 2fr 3fr;
    .current-date{
        align-self:end;
        position: relative;
        margin-left: 5vw;
        color: #0061d5;
        font-size: 1.3vw;
        display:grid;
        grid-template-columns: 5fr 7fr 7fr;
        span{
        align-self:end;
        line-height: 2.5vw;
        font-size: 2.5vw;
        color: #000;
        }
        div{
            align-self:end;
            display: inline-block;
            img{
                margin: 0px 5px;
                height: 20px;
            }
        }
    }
    .today-date{
        position: absolute;
        background: white;
        top:3vh;
        right: 30vw;
        font-size: 1vw;
        width: 5vw;
        border-radius: 20px;
        margin: 0 ;
        padding: 1vh 1.5vw;
        text-align: center;
        display: inline-block;
        align-self: end;
        cursor: pointer;
       
    }
    .selector-date{
        position: absolute;
        background: white;
        top:3vh;
        right:4vw;
        border-radius: 20px;
        font-size: 1vw;
        align-self:end;
        display:grid;
        grid-template-columns: 3fr 3fr ;
        div{
            font-size: 1vw;
            border-radius: 20px;
            background: white;
            margin: 0 ;
            padding: 1vh 1.5vw;
            text-align: center;
            display: inline-block;
            align-self: end;
            cursor: pointer;
        }
        .active{
            background: #0061d5;
            color: white;
        }
    }   
}

.calendar-table{
    overflow: scroll;
    padding: 4vh 4vw;
    display: block;

}
.table-cont{
    overflow: scroll;
    position: relative;
    display: block;
    height: 84vh;
    width: 100%;
    border-radius: 30px;
    background: white;

}

.tabs{
    z-index: 2;
    position: fixed;
    background: white;
    background: #EFF2FA;
    width:100%;
    height: 50px;
    padding-left: 5px;
    cursor: pointer;
    .active{
        background: white;
        z-index: 10 !important;
        color: #0061d5;
        font-size: 1.5vw;
        height: 40px !important;
        margin-top: -5px;
    }
}
.tab {
    width: 10vw;
    border: #fff 1px solid;
    position: relative;
    padding: 5px 10px;
    font-size: 1vw;
    text-align: center;
    margin-left: -5px;
    background: #96b3ca ;
    border-radius: 5px;
    color: white;
    height: 30px;
    display: inline-block;
    cursor: pointer;
  }
  
  .tab:hover {
    background: #c6d7e6 ;
    color: #0061d5;
  }

///calendar
///calendar
///calendar
///calendar

thead, table{
width: 100%;
border-collapse: collapse;
table-layout: fixed;
}
.cell{
    position: relative;
    height: 60px;
    width: 100%;
    overflow: visible;
}
.cell-blocked{
    height: 60px;
    width: 100%;
    color: rgba(#98a0a6, 0.6);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f2f2fe' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    cursor: not-allowed;
    background-size: 20px 20px;
    // background: rgb(36, 47, 56);
    // overflow: visible;
}
td {
    color: #0061d5;
    padding: 0;
    height:47px;
    overflow: visible;
    // border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 10px;
    vertical-align: top;
}
th{
    font-size: 1.5vw;
    color:#0061d5;
    text-align: center;
    font-weight: 300;
    line-height: 2vw;
    span{
        line-height: 1.4vw;
        color:#2eb5f8;
        font-size: 1vw;
    }
}
.rows:nth-child(even){
    height: 40px;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
}
.rows:nth-child(odd){
    border-top: 1px solid rgba($color: #019aff, $alpha: 0.5);
}
.fst-col{
    width: 4vw !important;
    background: white;
    font-size: 15px;
    text-align: right;
    padding: 0;
    border: none !important;
    vertical-align: bottom;
    p{
        background: white;
        position: relative;
        bottom: -10px;
    }
    .ph{
        position: relative;
        color: white;
        bottom: 1vh;
    }
    border: 0px solid white !important;
}
.fixed-table{
    z-index: 3;
    position: fixed;
    width: 72.1vw;
    border-radius: 10px;
    background: white;
    margin-top:30px;
}
.autoscroll{
    margin-top:40px;
    autoscroll: 1;
}

/////modal
/////modal
/////modal
/////modal
/////modal
/////modal

.appointment-modal{
    z-index: 100;
    position: absolute;
    width: 240px;
    padding: 8px 20px;
    margin: 5px 10px;
    font-size: 16px;
    background: #019aff;
    border: 0;
    border-radius: 8px;
    grid-column: 3 / span 3;
    grid-row: 4;
    align-self: end;
    color: #fff;
    text-align: left;
    box-shadow: 0 10px 14px rgba(#4786ff, 0.4);

     &-date  {
        left: 20vw;
        bottom:10vh;
        // height: 420px !important;
      }
    input, textarea, p{
        display: block;
        border-radius: 5px;
        border: none;
        padding: 8px 12px ;
        
    }
    input{
        color: #00468e;
        width:200px;
        margin: 0px 0px  5px 0px;
        font-size: 14px;

    }
    p{
        display: inline-block;
        padding: 8px 0px;
        margin: 0px;
        padding-bottom: 0px;;
    }
    textarea{
        color: #00468e;
        width:200px;
        margin: 5px 0px;
        font-size: 14px;
        resize: none;
    }
    .single-button{
        width: 100%;
        margin: 20px 0px 10px 0px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        padding: 8px 12px;
        border: none;
        
        background: #00468e;
        box-shadow: 0 10px 14px rgba(#00468e, 0.6);
        color: white;
        transition: 600ms;
    }
    .single-button:hover{
        color: #00468e;
        background: #fff;
        box-shadow: 0 10px 14px rgba(#00468e, 0.3);
        
    }
    .two-buttons{
        width: 40%;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 20px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        padding: 8px 12px;
        border: none;
        
       
    }
    .modify-app{
        background: white;
        box-shadow: 0 3px 5px rgba(#00468e, 0.6);
        color: #00468e;
        transition: 600ms;
    }
    .modify-app:hover{
        background: #00468e;
        box-shadow: 0 10px 14px rgba(#00468e, 0.6);
        color: #fff;
        transition: 600ms;
    }
    .delete-app{
        background: #bd0026;
        box-shadow: 0 3px 5px rgba(#00468e, 0.6);
        color: white;
        transition: 600ms;
    }
    .delete-app:hover{
        background: #fff;
        box-shadow: 0 10px 14px rgba(#00468e, 0.6);
        color: #bd0026;
        transition: 600ms;
    }
    select::-ms-expand {
        display: none;
    }
    select{
        display: inline-block;
        color: #00468e;
        border-radius: 5px;
        width:200px;
        padding:  5px;
        font-size: 14px;
        -webkit-appearance: none;
        -moz-appearance: none;      
        appearance: none;
        cursor: pointer;
    }
    .select_no_margin_left{
        padding: 8px 12px !important;
        margin:0px 0px 10px 0px !important;
    }
    input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
    .time{
        width: 100%;
        text-align: center;
    }
    
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #00468e;
        opacity: 0.7; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #00468e;
        opacity: 0.7;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: #00468e;
        opacity: 0.7;
      }
      .close-appointment-modal{
        position: absolute;
        display: inline-block;
        top:5px;
        right: 15px;
        img{
            height: 15px;
           
        }
        
    }
    mat-form-field , mat-label, mat-datepicker-toggle, ngx-mat-datetime-picker,mat-datepicker-toggle, mat-datepicker{
    input{
        color: white;
        margin: 5px 0px;
        font-size: 14px;
    }
    color: white;
    border: none !important;
    }
} 

mat-form-field {
    width:200px;
}
.big-modal{
   position: absolute;
   display: block;
   top: 0 ;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 10;
   background: rgba($color: rgb(1, 28, 83), $alpha: 0.8);
   
}

    



.modal-cont{
    position: relative;
    display: block;
    background: white;
    top: 20vh ;
    left: 20vw;
    width: 60vw;
    border-radius: 30px;
    height: 60vh;
}
.close-modal-cont{
    position: absolute;
    display: block;
    top: 5vh;
    left: 90vw;
    width: 10vw;
    img{

        height: 3vw;
    }
}


///// appointment
///// appointment
///// appointment
///// appointment
///// appointment

:host ::ng-deep .task {
    // resize:vertical;
    // resize:both;
    // width: 100%;
    border-left-width: 3px;
    text-overflow: ellipsis;
    padding: 8px 12px;
    margin: 0px 5px;
    border-left-style: solid;
    font-size: 14px;
    position: relative;
    transition: height 800ms;
    -webkit-transition: 800ms;;
    -moz-transition: 800ms;
    -o-transition: 800ms;
    &--primary {
    //   background: #019aff;
      border: 0;
      border-radius: 4px;
      grid-column: 3 / span 3;
      grid-row: 4;
      align-self: end;
      color: #fff;
    //   box-shadow: 0 10px 14px rgba(#4786ff, 0.4);
    }
    &--online {
        background: #0151ff;
        border: 0;
        border-radius: 4px;
        grid-column: 3 / span 3;
        grid-row: 4;
        align-self: end;
        color: #fff;
        box-shadow: 0 10px 14px rgba(#4786ff, 0.4);
      }
    .task-duration{
        font-size: 11px;
        margin: 0px 0px;
        font-family:  'Open Sans', sans-serif !important;
    }
    .task-name{
        text-transform: capitalize;
        right: 0vw;
        position: absolute;
        bottom: 5px;
        right:5px;
        text-align: right;
        font-size: 11px;
        font-family:  'Open Sans', sans-serif !important;
    }
    .task-details{
        font-weight: 500;
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 5px 0px ;
        font-family:  'Open Sans', sans-serif !important;
    }
}
:host ::ng-deep .c{
    &0{
        color: #85040a !important;
        background: #f2b3b3 !important;
      }
      &1{
        color: #b63a00;
        background: #fccbbc;
      }
      &2{
        color: #9c6b00;
        background: #fcecbe;
      }
      &3{
        color: #047a10;
        background: #c2e9d7;
      }
      &4{
        color: #0954cc;
        background: #b3e1f7;
      }
      &5{
        color: #4c21a3;
        background: #c5cbe9;
      }
      &6{
        color: rgb(68, 78, 126);
        background: #d7dbef;  
      }
      &7{
        color: rgb(95, 17, 131);
        background: #ddbde6;
      }
      &10000{
        color: rgb(68, 78, 126);
        background: #d7dbef; 
      }
}
// :host ::ng-deep .task:hover {
//     height: 85px; /* This is the height on hover */
// }




// ::-webkit-textarea-placeholder { /* Chrome/Opera/Safari */
//     position: relative;
//     top: -5vh;
//     color: rgba($color: #0061d5, $alpha: 0.8);
//     font-size: 2vh;
//     vertical-align: top;

//   }
//   ::-moz-placeholder { /* Firefox 19+ */
//      position: relative;
//     top: -5vh;
//     color: rgba($color: #0061d5, $alpha: 0.8);
//     font-size: 2vh;
//     vertical-align: top;
//   }
//   :-ms-input-placeholder { /* IE 10+ */
//     position: relative;
//     top: -5vh;
//     color: rgba($color: #0061d5, $alpha: 0.8);
//     font-size: 2vh;
//     vertical-align: top;
//   }
//   :-moz-placeholder { /* Firefox 18- */
//     position: relative;
//     top: -5vh;
//     color: rgba($color: #0061d5, $alpha: 0.8);
//     font-size: 2vh;
//     vertical-align: top;
//   }
