<body>
<div class="home">
        <div class="side-menu">
            <div class="menu-home" >Calendario</div>
            <div class="menu-settings" (click)='goSettings()'>Impostazioni</div>
            <div class="menu-settings" (click)='goNotifications()'>Area clienti</div>
            <!-- <button (click)="freeSpots()">Posti liberi</button> -->
            <div class="menu-logout" (click)="fullScreen()"> <img src="../assets/icons/multimedia.svg"/> Schermo intero</div>
            <!-- <div class="menu-toggle">
                Mostra appuntamenti dei colleghi
                    <label class="switch" >
                        <input type="checkbox" [(ngModel)]='show_others' (click)="showOthers()">
                        <span class="slider round"></span>
                    </label>
                </div> -->
        </div>
        <div class="calendar" *ngIf='!OneView'>
            <div class="date"> 
                <div class="current-date"> <span>  {{week[0]}} - {{week[6]}} </span> <div *ngIf='week[6]>week[0]'>{{month_name}}  {{year}}</div> <div *ngIf='week[0]>week[6] && month!=0'>{{months_names[month-1]}} {{month_name}} {{year}}</div> <div *ngIf='week[0]>week[6] && month==0'>{{months_names[11]}} {{month_name}} {{year}}</div> <div><div (click)='pastWeek()'><img src="../assets/icons/last.svg"/></div> <div (click)='nextWeek()'><img src="../assets/icons/next.svg"/></div></div></div>
                <div class="today-date" (click)='goToday(false)' >Oggi</div>
                <div class="selector-date">
                    <div  (click)='displayWeek(false)'[class.active]='display=="week" && !OneView'>Settimana</div>
                    <div (click)='displayMonth()' [class.active]='display=="month" && !OneView'>Mese</div>
                </div>
            </div>
            <div class="calendar-table" >
                <div class="table-cont">
                    <div class="tabs" *ngIf='display==="week"' >  <div class="tab " *ngFor='let employee of employees' [class.active]='employee.id == selected' (click)="activetab(employee)"> {{employee.name}}</div> </div>
                        <app-monthview *ngIf='display=="month"' [myMethod]="myMethodFunc"></app-monthview>
                        <table *ngIf='display==="week"' class="fixed-table">
                                <thead>
                                    <tr> 
                                        <td class="fst-col"><p class="ph">07:00</p></td>
                                        <th>Lun<br><span>{{week[0]}}</span></th>
                                        <th>Mar<br><span>{{week[1]}}</span></th>
                                        <th>Mer<br><span>{{week[2]}}</span></th>
                                        <th>Gio<br><span>{{week[3]}}</span></th>
                                        <th>Ven<br><span>{{week[4]}}</span></th>
                                        <th>Sab<br><span>{{week[5]}}</span></th>
                                        <th>Dom<br><span>{{week[6]}}</span></th>
                                    </tr>
                                </thead>  
                            </table>
          
                       
                <div  (click)="showCoords($event)"  *ngIf='display==="week"'>
                    <table class="autoscroll" >
                        <tbody>
                        <tr *ngFor="let row of rows,let row_idx = index" class="rows">
                            <td class="fst-col"><p>{{row}}</p></td>
                            <td *ngFor="let cell of columns,  let col_idx = index" >
                                <div  [class.cell-blocked]='(openlist[col_idx][0]>= row_idx) || (row_idx> openlist[col_idx][1] && openlist[col_idx][2]== undefined)|| (row_idx> openlist[col_idx][1] && openlist[col_idx][2]>= row_idx) || (row_idx> openlist[col_idx][3]) || (openlist[col_idx][0] == undefined)'>
                                    <div  class="cell" (drop)="drop($event)" (dragover)="allowDrop($event)" (click)="blockPos(row_idx, col_idx)" id="{{row_idx}}-{{col_idx}}" ></div>
                                </div>
                                 
                                </td>
                        </tr>
                        
                    </tbody>
                    </table>
                </div>
            </div>
            </div> 
        </div>
        <div class="calendar" *ngIf='OneView'>
            <div class="date"> 
                <div class="current-date"> <span>  {{today}}</span>  <div *ngIf='week[0]>week[6] '>{{months_names[month]}}  {{year}}</div> <div *ngIf='week[6]>week[0] '>{{months_names[month]}}  {{year}}</div> <div><div (click)='pastWeek()'><img src="../assets/icons/last.svg"/></div> <div (click)='nextWeek()'><img src="../assets/icons/next.svg"/></div></div></div>
                <div class="today-date activetoday" (click)='goToday(false)'>Oggi</div>
                <div class="selector-date">
                    <div  (click)='displayWeek(false)'>Settimana</div>
                    <div (click)='displayMonth()' >Mese</div>
                </div>
            </div>
            <div class="calendar-table">
                <div class="table-cont">
                        <app-monthview *ngIf='display=="month"' [myMethod]="myMethodFunc"></app-monthview>
                        <table *ngIf='display==="week"' class="fixed-table1">
                                <thead>
                                    <tr> 
                                        <td class="fst-col"><p class="ph">07:00</p></td>
                                        <th *ngFor='let employee of employees' >{{employee.name}}</th>
                                    </tr>
                                </thead>  
                            </table>
          
                       
                <div  (click)="showCoords($event)"  *ngIf='display==="week"'>
                    <table class="autoscroll" >
                        <tbody>
                        <tr *ngFor="let row of rows,let row_idx = index" class="rows">
                            <td class="fst-col"><p>{{row}}</p></td>
                            <td *ngFor="let employee of employees,  let col_idx = index" >
                                <!-- <div  [class.cell-blocked]='(openlist[col_idx][0]>= row_idx) || (row_idx> openlist[col_idx][1] && openlist[col_idx][2]== undefined)|| (row_idx> openlist[col_idx][1] && openlist[col_idx][2]>= row_idx) || (row_idx> openlist[col_idx][3]) || (openlist[col_idx][0] == undefined)'> -->
                                    <div  class="cell" (drop)="drop($event)" (dragover)="allowDrop($event)" (click)="blockPos(row_idx, employee.id)" id="{{row_idx}}-{{employee.id}}" ></div>
                                <!-- </div> -->
                                </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            </div> 
        </div>
    </div>
   


<!-- Modal new appointment -->
<div class='appointment-modal' [style.display]="point.disp" [style.left]="point.left" [style.top]="point.top">
        <p>Nome:</p>
        <div class="close-appointment-modal" (click)="closeModal()">
                <img src="../assets/icons/close.svg"/>
        </div>
            <input type="text" placeholder="Mario Rossi" [(ngModel)]="nome">
        <p>Cellulare:</p>
        <!-- <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a tabindex="-1" href="#">HTML</a></li>
              <li><a tabindex="-1" href="#">CSS</a></li>
              <li class="dropdown-submenu ">
                <a class="test dropdown-toggle" tabindex="-1" >New dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu ">
                  <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                  <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                  <li class="dropdown-submenu">
                    <a class="test dropdown-toggle" >Another dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">3rd level dropdown</a></li>
                      <li><a href="#">3rd level dropdown</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div> -->
        <input type="text" placeholder="3312233645" [(ngModel)]="phone">
        <p>Servizio:</p>
        <select class='select_no_margin_left' [(ngModel)]="info" >
                <option value=101010 selected >Seleziona servizio</option>
                <option value={{service.id}} *ngFor='let service of catalog_list'>{{service.name}}</option>
                <option value=-3 >chiudi un'ora</option>
                <option value=-2 >chiudi tutto il giorno</option>
                <option value=-1 >altro</option>
        </select>
        <p *ngIf='edit'>Aggiungi note:</p>
        <textarea class="lable-appointment-modal" *ngIf='edit' placeholder="Inserisci altri dettagli" [(ngModel)]="appointment_notes" ></textarea>
        <p *ngIf='info == -1' >Descrizione:</p>
            <textarea class="lable-appointment-modal" *ngIf='info == -1' placeholder="Inserisci altri dettagli" [(ngModel)]="extra_desc" ></textarea>
        <p *ngIf='info == -1'>Durata</p>
    <div class="time" >
        <div *ngIf='info == -1'>
        <select [(ngModel)]="time">
                <!-- <option value=1>5 min</option>
                <option value=2>10 min</option> -->
                <option value=3>15 min</option>
                <!-- <option value=4>20 min</option>
                <option value=5>25 min</option> -->
                <option value=6>30 min</option>
                <!-- <option value=7>35 min</option>
                <option value=8>40 min</option> -->
                <option value=9>45 min</option>
                <!-- <option value=10>50 min</option>
                <option value=11>55 min</option> -->
                <option value=12>1 ora</option>
                <!-- <option value=13> 1 ora 5 min</option>
                <option value=14> 1 ora 10 min</option> -->
                <option value=15> 1 ora 15 min</option>
                <!-- <option value=16> 1 ora 20 min</option>
                <option value=17> 1 ora 25 min</option> -->
                <option value=18> 1 ora 30 min</option>
                <!-- <option value=19> 1 ora 35 min</option>
                <option value=20> 1 ora 40 ora</option> -->
                <option value=21> 1 ora 45 min</option>
                <!-- <option value=22> 1 ora 50 min</option>
                <option value=23> 1 ora 55 min</option> -->
                <option value=24> 2 ore</option>

        </select>
        </div>
        <button  *ngIf='!edit'class="single-button " (click)='addAppointment()'>Salva</button>
        <div *ngIf='edit'>
               
                <button  class="two-buttons delete-app" (click)='deleteAppointment()'>Cancella</button>
                <button  class="two-buttons modify-app" (click)='updateAppointment()'>Modifica</button>
        </div>
    </div>
    </div>


<!-- big modal  -->
<div [style.display]="bgModalDisp" class="big-modal">
        <div class='appointment-modal appointment-modal-date'>
                <p>Nome:</p>
                <div class="close-appointment-modal" (click)="bgModalDisp='none'">
                        <img src="../assets/icons/close.svg"/>
                </div>
                    <input type="text" placeholder="Mario Rossi" [(ngModel)]="nome">
                <p>Cellulare:</p>
                <input type="text" placeholder="3312233645" [(ngModel)]="phone">
                <p>Servizio:</p>
                <select class='select_no_margin_left' [(ngModel)]="info" >
                        <option value=101010 selected >Seleziona servizio</option>
                        <option value={{service.id}} *ngFor='let service of catalog_list'>{{service.name}}</option>
                        <option value=-1 >altro</option>
                </select>
                <mat-form-field>
                        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Seleziona la data"  [(ngModel)]="date_picker" disabled>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker disabled="false">
                        </ngx-mat-datetime-picker>
                    </mat-form-field>   
                <p *ngIf='info == -1' >Descrizione:</p>
                    <textarea class="lable-appointment-modal" *ngIf='info == -1' placeholder="Inserisci altri dettagli" [(ngModel)]="extra_desc" ></textarea>
                <p *ngIf='info == -1'>Durata</p>
                <div class="time" >
                        <div *ngIf='info == -1'>
                        <select [(ngModel)]="time">
                                <option value=1>5 min</option>
                                <option value=2>10 min</option>
                                <option value=3>15 min</option>
                                <option value=4>20 min</option>
                                <option value=5>25 min</option>
                                <option value=6>30 min</option>
                                <option value=7>35 min</option>
                                <option value=8>40 ora</option>
                                <option value=9>45 min</option>
                                <option value=10>50 min</option>
                                <option value=11>55 min</option>
                                <option value=12> 1ora</option>
                                <option value=13> 1 ora 5 min</option>
                                <option value=14> 1 ora 10 min</option>
                                <option value=15> 1 ora 15 min</option>
                                <option value=16> 1 ora 20 min</option>
                                <option value=17> 1 ora 25 min</option>
                                <option value=18> 1 ora 30 min</option>
                                <option value=19> 1 ora 35 min</option>
                                <option value=20> 1 ora 40 ora</option>
                                <option value=21> 1 ora 45 min</option>
                                <option value=22> 1 ora 50 min</option>
                                <option value=23> 1 ora 55 min</option>
                                <option value=24> 2 ore</option>
                
                        </select>
                        </div>
                        <button class="single-button " (click)='pickerApoointment()'>Salva</button>
                    </div>
            </div>   
</div>

<div class="free_spots" [style.display]="spot_show" >
        <div class="close-spot-modal" (click)="spot_show='none'">
                <img src="../assets/icons/closewhite.svg"/>
        </div>
<div class="container" style="text-align: center;">
    <h1>Posti liberi</h1>
    <h5>Scorri in basse per vedere tutte le disponibilità della settimana</h5>
    <span style="display: inline-block; position: absolute; left: 20px; top: 20px; font-size: 14px; line-height: 14px; color: #0061d5;" (click)='pastWeSpots()'> <img style="height:14px" src="../assets/icons/last.svg"/> Settimana precedente</span> <span style="display: inline-block; position: absolute; right: 20px; top: 20px; font-size: 14px; color:#0061d5; line-height: 14px;;" (click)="nextWeSpots()">Settimana successiva <img style="height:14px" src="../assets/icons/next.svg"/></span>
    <div class="row" style="text-align: center ;">
        <div class="col-md-12" *ngFor="let day of week, let day_idx = index" >
                <div style="display: block; font-weight: 700; font-size: 24px; color: #00468e; padding: 30px;"> {{columns[day_idx]}} {{day}}  </div>
            <div *ngFor="let spot of availableSpots" style="display: inline-block;" >
                <div *ngIf='day_idx==spot.day' class="single_spot">
                    <p><b>{{this.times[spot.start]}} - {{this.times[spot.start+spot.duration]}} </b>   <span *ngIf='employees.length!=1'> {{spot.name}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
