<body>
    <div class="home">
           
        <div class="side-menu">
            <div class="menu-home" (click)='goHome()'>Calendario</div>
            <div class="menu-settings">Impostazioni</div>
            <div class="menu-data" (click)='goData()'>Area clienti</div>
            <div class="menu-logout" (click)='logout()'> <img src="../assets/icons/logout.svg"/> Esci</div>
            <!-- <button>Logout</button> -->
        </div>  
        <div class="settings">
                        <div class="topbar">
                            <div class="not">Attività</div>
                            <div (click)='goEmployees()' >Collaboratori</div>
                        </div>
                        <div style='margin-top: 8vh'  class="content">
                                <!-- Animated -->
                                <div class="animated fadeIn">
                         <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="card" (click)='bussiness_selection="block"'>
                                            <div class="card-body">
                                                <div class="stat-widget-five">
                                                    <div class="stat-icon dib flat-color-1">
                                                        <img src="../assets/icons/company.svg" height="50px">
                                                    </div>
                                                    <div class="stat-content">
                                                        <div class="text-left dib">
                                                            <div class="stat-text"><span class="count">Tipo di attività</span></div>
                                                            <!-- <div class="stat-heading">Tipo di studio</div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="col-lg-3 col-md-6">
                                        <div class="card" (click)='displayCatalog()'>
                                            <div class="card-body">
                                                <div class="stat-widget-five">
                                                    <div class="stat-icon dib flat-color-2">
                                                        <i class="pe-7s-cart"></i>
                                                        <img src="../assets/icons/work.svg" height="50px">
                                                    </div>
                                                    <div class="stat-content">
                                                        <div class="text-left dib">
                                                            <div class="stat-text"><span class="count">Modifica servizi</span></div>
                                                             <!-- <div class="stat-heading">Tipo di studio</div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                            <div class="card" (click)='goEmployees()'>
                                                <div class="card-body">
                                                    <div class="stat-widget-five">
                                                        <div class="stat-icon dib flat-color-1">
                                                            <img src="../assets/icons/group.svg" height="50px">
                                                        </div>
                                                        <div class="stat-content">
                                                            <div class="text-left dib">
                                                                <div class="stat-text"><span class="count">I tuoi collaboratori</span></div>
                                                                <!-- <div class="stat-heading">Tipo di studio</div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                                <div class="card" (click)='portalStripe()'>
                                                    <div class="card-body">
                                                        <div class="stat-widget-five">
                                                            <div class="stat-icon dib flat-color-2">
                                                                <i class="pe-7s-cart"></i>
                                                                <img src="../assets/policy.svg" height="50px">
                                                            </div>
                                                            <div class="stat-content">
                                                                <div class="text-left dib">
                                                                    <div class="stat-text"><span class="count">Info Abbonamento</span></div>
                                                                     <!-- <div class="stat-heading">Tipo di studio</div> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                      
            <!-- <div class="business-type">
                <h4>Tipo di business:</h4> 
                <select [(ngModel)]="business">
                    <option value=0>Seleziona il tuo business </option>
                    <option value=1>Studio medico</option>
                    <option value=2 selected >Studio dentistico</option>
                    <option value=3>Studio Parucchieria</option>
                    <option value=4>Studio Estetico</option>
                    <option value=5>Baby sitter</option>
                    <option value=6>Fisioterapista</option>
                    <option value=7>Psicologo</option>
                    <option value=8>Palestra</option>
                </select>
                <div class="save" (click)='storeEverything()'>Salva modifiche</div>
            </div> -->
            <div class="opening-hours">
                <!-- <div class="head-form"> -->
                        <h4>Orario del negozio:</h4> 
                        <!-- <div class="save">Salva </div> -->
                <!-- </div> -->
                <!-- <vaadin-time-picker *ngIf='closed_days[0]' [(ngModel)]='lun[0]' id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" step="900" label="Apertura"></vaadin-time-picker> -->
                <!-- <vaadin-time-picker [value]='value_t'  id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" step="900" label="Apertura"></vaadin-time-picker> -->

<form> 
        <h1>Lunedì</h1>
            <div *ngIf='!closed_days[0]'></div>
            <div *ngIf='!closed_days[0]'></div>
            <vaadin-time-picker 
            (change)="dateChanged($event,0,0)"
            [value]="lun[0]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Apertura"
            *ngIf='closed_days[0]'
            >
            </vaadin-time-picker>
            <vaadin-time-picker 
            (change)="dateChanged($event,0,1)"
            [value]="lun[1]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Chiusura"
            *ngIf='closed_days[0]'
            >
            </vaadin-time-picker>
            <div *ngIf='!double_turn[0]'></div>
            <div *ngIf='!double_turn[0]'></div>
            <vaadin-time-picker 
            (change)="dateChanged($event,0,2)"
            [value]="lun[2]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Apertura"
            *ngIf='double_turn[0]'
            >
            </vaadin-time-picker>
            <vaadin-time-picker 
            (change)="dateChanged($event,0,3)"
            [value]="lun[3]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Chiusura"
            *ngIf='double_turn[0]'
            >
            </vaadin-time-picker>
            <vaadin-checkbox-group theme="vertical">
                    <vaadin-checkbox value="Option" *ngIf='closed_days[0]' (change)='double_turn[0]=!double_turn[0]' [checked]="double_turn[0]">2 turni</vaadin-checkbox>
                    <vaadin-checkbox value="Option" *ngIf='!double_turn[0]'(change)='closed_days[0]=!closed_days[0]'[checked]="!closed_days[0]">chiuso</vaadin-checkbox>
            </vaadin-checkbox-group>
            <!--  -->
            <h1>Martedì</h1>
            <div *ngIf='!closed_days[1]'></div>
            <div *ngIf='!closed_days[1]'></div>
           
            <vaadin-time-picker 
            (change)="dateChanged($event,1,0)"
            [value]="mar[0]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Apertura"
            *ngIf='closed_days[1]'
            >
            </vaadin-time-picker>
            <vaadin-time-picker 
            (change)="dateChanged($event,1,1)"
            [value]="mar[1]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Chiusura"
            *ngIf='closed_days[1]'>
            </vaadin-time-picker>
            <div *ngIf='!double_turn[1]'></div>
            <div *ngIf='!double_turn[1]'></div>
            <vaadin-time-picker 
            (change)="dateChanged($event,1,2)"
            [value]="mar[2]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Apertura"
            *ngIf='double_turn[1]'>
            </vaadin-time-picker>
            <vaadin-time-picker 
            (change)="dateChanged($event,1,3)"
            [value]="mar[3]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Chiusura"
            *ngIf='double_turn[1]'>
            </vaadin-time-picker>
            <vaadin-checkbox-group theme="vertical">
                    <vaadin-checkbox value="Option" *ngIf='closed_days[1]' (change)='double_turn[1]=!double_turn[1]' [checked]="double_turn[1]">2 turni</vaadin-checkbox>
                    <vaadin-checkbox value="Option" *ngIf='!double_turn[1]'(change)='closed_days[1]=!closed_days[1]'[checked]="!closed_days[1]">chiuso</vaadin-checkbox>
            </vaadin-checkbox-group>
            <!--  -->
            <h1>Mercoledì</h1>
            <div *ngIf='!closed_days[2]'></div>
            <div *ngIf='!closed_days[2]'></div>
            <vaadin-time-picker 
            (change)="dateChanged($event,2,0)"
            [value]="mer[0]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Apertura"
            *ngIf='closed_days[2]'>
            </vaadin-time-picker>
            <vaadin-time-picker 
            (change)="dateChanged($event,2,1)"
            [value]="mer[1]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Chiusura"
            *ngIf='closed_days[2]'
            >
            </vaadin-time-picker>
            <div *ngIf='!double_turn[2]'></div>
            <div *ngIf='!double_turn[2]'></div>
            <vaadin-time-picker 
            (change)="dateChanged($event,2,2)"
            [value]="mer[2]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Apertura"
            *ngIf='double_turn[2]'>
            </vaadin-time-picker>
            <vaadin-time-picker 
            (change)="dateChanged($event,2,3)"
            [value]="mer[3]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Chiusura"
            *ngIf='double_turn[2]'>
            </vaadin-time-picker>
            <vaadin-checkbox-group theme="vertical">
                    <vaadin-checkbox value="Option" *ngIf='closed_days[2]' (change)='double_turn[2]=!double_turn[2]' [checked]="double_turn[2]">2 turni</vaadin-checkbox>
                    <vaadin-checkbox value="Option" *ngIf='!double_turn[2]'(change)='closed_days[2]=!closed_days[2]'[checked]="!closed_days[2]">chiuso</vaadin-checkbox>
            </vaadin-checkbox-group>
            <!--  -->
            <h1>Giovedì</h1>
            <div *ngIf='!closed_days[3]'></div>
            <div *ngIf='!closed_days[3]'></div>
            <vaadin-time-picker 
            (change)="dateChanged($event,3,0)"
            [value]="gio[0]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Apertura"
            *ngIf='closed_days[3]'
            >
            </vaadin-time-picker>
            <vaadin-time-picker 
            (change)="dateChanged($event,3,1)"
            [value]="gio[1]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Chiusura"
            *ngIf='closed_days[3]'>
            </vaadin-time-picker>
            <div *ngIf='!double_turn[3]'></div>
            <div *ngIf='!double_turn[3]'></div>
            <vaadin-time-picker 
            (change)="dateChanged($event,3,2)"
            [value]="gio[2]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Apertura"
            *ngIf='double_turn[3]'>
            </vaadin-time-picker>
            <vaadin-time-picker 
            (change)="dateChanged($event,3,3)"
            [value]="gio[3]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Chiusura"
            *ngIf='double_turn[3]'>
            </vaadin-time-picker>
            <vaadin-checkbox-group theme="vertical">
                    <vaadin-checkbox value="Option" *ngIf='closed_days[3]' (change)='double_turn[3]=!double_turn[3]' [checked]="double_turn[3]">2 turni</vaadin-checkbox>
                    <vaadin-checkbox value="Option" *ngIf='!double_turn[3]'(change)='closed_days[3]=!closed_days[3]'[checked]="!closed_days[3]">chiuso</vaadin-checkbox>
            </vaadin-checkbox-group>
            <!--  -->
            <h1>Venerdì</h1>
            <div *ngIf='!closed_days[4]'></div>
            <div *ngIf='!closed_days[4]'></div>
          
            <vaadin-time-picker 
            (change)="dateChanged($event,4,0)"
            [value]="ven[0]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Apertura"
            *ngIf='closed_days[4]'>
            </vaadin-time-picker>
            <vaadin-time-picker 
            (change)="dateChanged($event,4,1)"
            [value]="ven[1]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Chiusura"
            *ngIf='closed_days[4]'>
            </vaadin-time-picker>
            <div *ngIf='!double_turn[4]'></div>
            <div *ngIf='!double_turn[4]'></div>
            <vaadin-time-picker 
            (change)="dateChanged($event,4,2)"
            [value]="ven[2]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Apertura"
            *ngIf='double_turn[4]'>
            </vaadin-time-picker>
            <vaadin-time-picker 
            (change)="dateChanged($event,4,3)"
            [value]="ven[3]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Chiusura"
            *ngIf='double_turn[4]'>
            </vaadin-time-picker>
            <vaadin-checkbox-group theme="vertical">
                    <vaadin-checkbox value="Option" *ngIf='closed_days[4]' (change)='double_turn[4]=!double_turn[4]' [checked]="double_turn[4]">2 turni</vaadin-checkbox>
                    <vaadin-checkbox value="Option" *ngIf='!double_turn[4]'(change)='closed_days[4]=!closed_days[4]'[checked]="!closed_days[4]">chiuso</vaadin-checkbox>
            </vaadin-checkbox-group>
            <!--  -->
            <h1>Sabato</h1>
            <div *ngIf='!closed_days[5]'></div>
            <div *ngIf='!closed_days[5]'></div>
        
            <vaadin-time-picker 
            (change)="dateChanged($event,5,0)"
            [value]="sab[0]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Apertura"
            *ngIf='closed_days[5]'>
            </vaadin-time-picker>
            <vaadin-time-picker 
            (change)="dateChanged($event,5,1)"
            [value]="sab[1]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Chiusura"
            *ngIf='closed_days[5]'>
            </vaadin-time-picker>
            <div *ngIf='!double_turn[5]'></div>
            <div *ngIf='!double_turn[5]'></div>
            <vaadin-time-picker 
            (change)="dateChanged($event,5,2)"
            [value]="sab[2]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Apertura"
            *ngIf='double_turn[5]'>
            </vaadin-time-picker>
            <vaadin-time-picker 
            (change)="dateChanged($event,5,3)"
            [value]="sab[3]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Chiusura"
            *ngIf='double_turn[5]'>
            </vaadin-time-picker>
            <vaadin-checkbox-group theme="vertical">
                    <vaadin-checkbox value="Option" *ngIf='closed_days[5]' (change)='double_turn[5]=!double_turn[5]' [checked]="double_turn[5]">2 turni</vaadin-checkbox>
                    <vaadin-checkbox value="Option" *ngIf='!double_turn[5]'(change)='closed_days[5]=!closed_days[5]'[checked]="!closed_days[5]">chiuso</vaadin-checkbox>
            </vaadin-checkbox-group>
            <!--  -->
            <h1>Domenica</h1>
            <div *ngIf='!closed_days[6]'></div>
            <div *ngIf='!closed_days[6]'></div>
            
            <vaadin-time-picker 
            (change)="dateChanged($event,6,0)"
            [value]="dom[0]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Apertura"
            *ngIf='closed_days[6]'>
            </vaadin-time-picker>
            <vaadin-time-picker 
            (change)="dateChanged($event,6,1)"
            [value]="dom[1]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Chiusura"
            *ngIf='closed_days[6]'>
            </vaadin-time-picker>
            <div *ngIf='!double_turn[6]'></div>
            <div *ngIf='!double_turn[6]'></div>
            <vaadin-time-picker 
            (change)="dateChanged($event,6,2)"
            [value]="dom[2]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Apertura"
            *ngIf='double_turn[6]'>
            </vaadin-time-picker>
            <vaadin-time-picker 
            (change)="dateChanged($event,6,3)"
            [value]="dom[3]"
            id="time-picker-basic-demos-value-resolution" 
min="06:30" max="22:00" 
            step="900" 
            label="Chiusura"
            *ngIf='double_turn[6]'>
            </vaadin-time-picker>
            <vaadin-checkbox-group theme="vertical">
                    <vaadin-checkbox value="Option" *ngIf='closed_days[6]' (change)='double_turn[6]=!double_turn[6]' [checked]="double_turn[6]">2 turni</vaadin-checkbox>
                    <vaadin-checkbox value="Option" *ngIf='!double_turn[6]'(change)='closed_days[6]=!closed_days[6]'[checked]="!closed_days[6]">chiuso</vaadin-checkbox>
            </vaadin-checkbox-group>
    </form>
        </div>
    </div>
</div>
            <!-- <div class="services">
                <div class="service-cont">
                    <div class=" service add-service" (click)='displayCatalog()'>I tuoi <br> servizi</div>
                    <div class=" service add-service" (click)='goEmployees()'>I tuoi <br> collaboratori</div>
                   
                </div>
            </div> -->
        </div>
    </div>
</body>
<div class="toast-s" [style.display]='toast'>Modifiche salvate correttamente</div>
<!-- color picker -->
<div class="catalog" [style.display]='catalog'>
        <div class="close-catalog" (click)='catalog="none"'>  <img src="../assets/icons/closewhite.svg"/></div>
            <div class="cont-table">
                <table class="table-catalog">
                    <thead>
                        <tr> 
                            <th class="corner1">Nome Servizio</th>
                            <th>Durata</th>
                            <th>Sesso</th>
                            <th>Max</th>
                            <th>Colore</th>
                            <th class="corner2"></th>
                        </tr>
                    </thead>  
                    <tbody>
                        <tr *ngFor='let service of catalog_list'> 
                            <td>{{service.name}}</td>
                            <td>{{durations[service.duration]}}</td>
                            <td>{{sexs[service.sex]}}</td>
                            <td>{{service.max_n}}</td>
                            <td><div class="color-serv" [style.background]='colors_list[service.color]'></div></td>
                            <td> <button class="delete" (click)='deleteservice(service.id)'>Elimina</button></td>
                        </tr>
                        <tr> 
                            <td style="padding: 0px;"><input class='input-name'type="text" placeholder="Nome servizio" [(ngModel)]="name"></td>
                            <td style="padding: 0px;">
                                <select [(ngModel)]="duration">
                                    <option value=1>5 min</option>
                                    <option value=2>10 min</option>
                                    <option value=3>15 min</option>
                                    <option value=4>20 min</option>
                                    <option value=5>25 min</option>
                                    <option value=6>30 min</option>
                                    <option value=7>35 min</option>
                                    <option value=8>40 ora</option>
                                    <option value=9>45 min</option>
                                    <option value=10>50 min</option>
                                    <option value=11>55 min</option>
                                    <option value=12> 1ora</option>
                                    <option value=13> 1 ora 5 min</option>
                                    <option value=14> 1 ora 10 min</option>
                                    <option value=15> 1 ora 15 min</option>
                                    <option value=16> 1 ora 20 min</option>
                                    <option value=17> 1 ora 25 min</option>
                                    <option value=18> 1 ora 30 min</option>
                                    <option value=19> 1 ora 35 min</option>
                                    <option value=20> 1 ora 40 ora</option>
                                    <option value=21> 1 ora 45 min</option>
                                    <option value=22> 1 ora 50 min</option>
                                    <option value=23> 1 ora 55 min</option>
                                    <option value=24> 2 ore</option>
                                </select>
                            </td>
                            <td style="padding: 0px;">
                                <select [(ngModel)]="sex">
                                    <option value=1>Donna</option>
                                    <option value=2>Uomo</option>
                                    <option value=3>Unisex</option>
                                </select>
                            </td>
                            <td style="padding: 0px;"><input class='input-price' type="number" placeholder="1" [(ngModel)]="max"></td>
                            <td style="padding: 0px;" id='color'><div class="color-serv" [style.background]='bgcolor' (click)='displayColorPicker()'></div></td>
                            <td style="padding: 0px auto;"><button  class="active-service" (click)='storeCatalogService()'>Aggiungi</button></td>
                        </tr>
                    </tbody>
                </table>     
        </div>
       
    </div>
<div class="color-picker" [style.display]='color_show' [style.top]='color_top'>
        <div class="c c1" (click)='changeColor(0)'></div>
        <div class="c c2" (click)='changeColor(1)'></div>
        <div class="c c3" (click)='changeColor(2)'></div>
        <div class="c c4" (click)='changeColor(3)'></div>
        <div class="c c5" (click)='changeColor(4)'></div>
        <div class="c c6" (click)='changeColor(5)'></div>
        <div class="c c7" (click)='changeColor(6)'></div>
        <div class="c c8" (click)='changeColor(7)'></div>  
    </div>

<div class="catalog" [style.display]='bussiness_selection'>
        <div class="close-catalog" (click)='bussiness_selection="none"'>  <img src="../assets/icons/closewhite.svg"/></div>
        <h1 style="width: 100vw; color: #fff; text-align: center;margin-top: 30px;">Seleziona la tipologia di attività:</h1>
    <div class="content" style="position: absolute; margin-top: 24vh;">
        <div class="row" >
                <div class="col-lg-3 col-md-6">
                    <div class="card" (click)='updateBusinessType(1)'>
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <img src="../assets/icons/doctor.svg" height="50px">
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">Salute</span></div>
                                        <!-- <div class="stat-heading">Tipo di studio</div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                        <div class="card" (click)='updateBusinessType(2)'>
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <img src="../assets/icons/hair.svg" height="50px">
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count">Cura capelli e viso</span></div>
                                            <!-- <div class="stat-heading">Tipo di studio</div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                            <div class="card" (click)='updateBusinessType(3)'>
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-1">
                                            <img src="../assets/icons/massage.svg" height="50px">
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text"><span class="count">Centro Massaggi</span></div>
                                                <!-- <div class="stat-heading">Tipo di studio</div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-lg-3 col-md-6">
                            <div class="card" (click)='updateBusinessType(4)'>
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-1">
                                            <img src="../assets/icons/nails.svg" height="50px">
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text"><span class="count">Estetisti</span></div>
                                                <!-- <div class="stat-heading">Tipo di studio</div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-lg-3 col-md-6">
                                <div class="card" (click)='updateBusinessType(5)'>
                                    <div class="card-body">
                                        <div class="stat-widget-five">
                                            <div class="stat-icon dib flat-color-1">
                                                <img src="../assets/icons/physiotherapy.svg" height="50px">
                                            </div>
                                            <div class="stat-content">
                                                <div class="text-left dib">
                                                    <div class="stat-text"><span class="count">Fisioterapia</span></div>
                                                    <!-- <div class="stat-heading">Tipo di studio</div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
         
                    <div class="col-lg-3 col-md-6">
                        <div class="card" (click)='updateBusinessType(6)'>
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <img src="../assets/icons/dentist.svg" height="50px">
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count">Dentisti</span></div>
                                            <!-- <div class="stat-heading">Tipo di studio</div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                            <div class="card" (click)='updateBusinessType(7)'>
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-1">
                                            <img src="../assets/icons/gym.svg" height="50px">
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text"><span class="count">Personal trainer</span></div>
                                                <!-- <div class="stat-heading">Tipo di studio</div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                                <div class="card" (click)='updateBusinessType(8)'>
                                    <div class="card-body">
                                        <div class="stat-widget-five">
                                            <div class="stat-icon dib flat-color-1">
                                                <img src="../assets/icons/lawyer.svg" height="50px">
                                            </div>
                                            <div class="stat-content">
                                                <div class="text-left dib">
                                                    <div class="stat-text"><span class="count">Avvocati</span></div>
                                                    <!-- <div class="stat-heading">Tipo di studio</div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                </div>
    </div>
</div>