@import "./../../assets/ElaAdmin-master/assets/css/style.css";

.home{
    display:grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 2fr 8fr;
    font-size: 1.5vw;
    overflow: hidden;

}
.toast-s{
    text-align: center;
    position: absolute;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    background: #181717;
    color: white;
    top: 20px;
    margin-left: calc(50% - 150px);
    z-index: 1000;
}

// 

.side-menu{
    min-width: 225px;
    background: #0061d5;
    color: #B3D1F1;
    font-size: 28px;
    button{
        position: relative;
        top: 40vh;
        display: inline-block;
        background:white;
        height: 15vh;
        width: 80%;
        margin-left: 2vw;
        border-radius: 10px;
        color: #0061d5;
        font-size: 21px;
        cursor: pointer;
    }
    .menu-home{
        position: relative;
        padding-left: 5px;
        padding-right: 20px;
        margin-top: 10vh;
        margin-left: 2vw;
        display: block;
        cursor: pointer;
    }
    .menu-settings{
        color: white;
        width: max-content;
        background: #00479D;
        margin-right: 30px;
        padding-left: 5px;
        padding-right: 20px;
        border-radius: 5px;
        font-weight: 500;
        position: relative;
        margin-top: 5vh;
        margin-left: 2vw;
        display: block;    
        cursor: pointer;
    }
    .menu-data{
  
        width: max-content;

        margin-right: 30px;
        padding-left: 5px;
        padding-right: 20px;
        border-radius: 5px;
        font-weight: 500;
        position: relative;
        margin-top: 5vh;
        margin-left: 2vw;
        display: block;    
        cursor: pointer;
    }
    .menu-logout{
        position: absolute;
        color: white;
        top: 90vh;
        margin-left: 2vw;
        display: block;
        cursor: pointer;
        img{
            margin-top: -3.5%;
            margin-left: -3.5%;
            height: 2.8vh;
        }
    }
}
.content{
    padding: 5px 1.875em;
}   
.settings{
    overflow: hidden;
    min-width: 900px;
    position: relative;
    color: #00468e;
    background: #fafafa;
    

    .opening-hours{
        margin-top: -1vh;
        padding: 0px 40px;
        background: #fff;
        display: grid;
        grid-template-rows: 1fr 15fr;
        width: 100%;
        border-radius: 10px;
        height: -moz-min-content;
        height: 72vh;
        margin-bottom: 40px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
            h4{
                align-self:center;
                font-size: 21px;
                margin: 0px ;
                display: inline;
            }
        }
    }
.stat-content{
    margin-left: 100px !important;
}
////// catalog

.catalog{
    position: absolute;
    display: block;
    top: 0 ;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: rgba($color: rgb(1, 28, 83), $alpha: 0.8);
    
}
.cont-table{
    margin: 20vh 15vw;
    display: block;
    height: 60vh;
    width: 70vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #fff;
    overflow: auto;
}

.table-catalog{
    border-collapse: collapse;
    color: #0061d5;
    overflow: auto;
    border-radius: 10px;
    width: 100%;
    thead{
        color: white;
        border-radius: 10px;
        background: #00479D;
        th{
            background: #00479D;
           
        }
    }
    td:nth-child(1), th:nth-child(1){
        width: 24vw;
    }
    td:nth-child(2),  th:nth-child(2){
        width: 12vw;
    }
    td:nth-child(3),  th:nth-child(3){
        width: 8vw;
    }
    td:nth-child(4),  th:nth-child(4){
        width: 8vw;
    }
    td:nth-child(5),  th:nth-child(5){
        width: 4vw;
    }
    tr{
        height: 40px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
    td, th{
        text-align: center;
        font-size: 16px;
        border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
    button{
        padding: 5px;
        border-radius: 5px;
        margin: 0px 10px;
        border: none;
        font-size: 16px;
    }
    .modify{
        background: #fdb44d;
        justify-content: center;
        color: white;
        box-shadow: 0 10px 14px rgba(#fdb44d, 0.4);
       
    }
    .delete{
        background:#fa607e;
        justify-content: center;
        color: #fff;
        // box-shadow: 0 10px 14px rgba(#fa607e, 0.4);
    }
    .corner1{
        border-top-left-radius: 10px;
    }
    .corner2{
        border-top-right-radius: 10px;
    }
}
.cont-insert{
    position: absolute;
    top: 80vh;
    width: 70vw;
    left: 15vw;
    text-align: center;
}
.insert-table{
    width: 100%;
    border-collapse: collapse;
    color: #0061d5;
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 10;
    background: #ffffff;
    tr{
        height: 40px;
        border-top: 2px solid  #0061d5;
    }
    td{
        text-align: center;
        font-size: 16px;
        border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
    td:nth-child(1){
        width: 24vw;
    }
    td:nth-child(2){
        width: 12vw;
    }
    td:nth-child(3){
        width: 8vw;
    }
    td:nth-child(4){
        width: 8vw;
    }
    td:nth-child(5){
        width: 4vw;
    }
    button{
        padding: 5px;
        border-radius: 5px;
        margin: 0px 10px;
        border: none;
        font-size: 16px;
    }
    .add-catalog{
        background: #00479D;
        justify-content: center;
        color: #fff;
    }
    .input-name{
        border: none;
        font-size: 16px;
        color: #0061d5;
        text-align: center;
        width:15vw;
        outline: none;

    }
    .input-price{
        display: inline-block;
        border: none;
        text-align: right;
        font-size: 16px;
        color: #0061d5;
        width:5vw;
        outline: none;

    }
    input:focus, textarea:focus, select:focus{
        outline: none;
    }
    select::-ms-expand {
        display: none;
    }
    select{
        text-align: center;
        border: none;
        color: #0061d5;
        background: white;
        font-size: 16px;
    }
    ::placeholder { 
        color: #0061d5;
        opacity: 0.7;
      }
      
      :-ms-input-placeholder { 
        color: #0061d5;
        opacity: 0.7;
      }
      
      ::-ms-input-placeholder { 
        color: #0061d5;
        opacity: 0.7;
      }
}
.close-catalog{
    position: absolute;
    width: 5vw;
    left: 90vw;
    top: 5vw;
    img{
      width: 5vh;
    }
}

/// color picker
.color-serv{
    display: block;
    height: 20px;
    width: 20px;
    margin: auto auto;
    border-radius: 5px;
}
.color-picker{
    z-index: 20;
    position: absolute;
    left:65vw;
    bottom: 20vh;
    background: white;
    display: block;
    padding: 5px;
    border-radius: 10px;
    .c{
        z-index: 20;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin:5px;
        border-radius: 5px;
        &1{
            color: #85040a;
            background: #f2b3b3;
          }
          &2{
            color: #b63a00;
            background: #fccbbc;
          }
          &3{
            color: #9c6b00;
            background: #fcecbe;
          }
          &4{
            color: #047a10;
            background: #c2e9d7;
           
          }
          &5{
            color: #0954cc;
            background: #b3e1f7;
           
          }
          &6{
            color: #4c21a3;
            background: #c5cbe9;
          }
          &7{
            color: rgb(68, 78, 126);
            background: #d7dbef;
          }
          &8{
            color: rgb(95, 17, 131);
            background: #ddbde6;
          }
    }
  }
  input::-webkit-calendar-picker-indicator {
    background: none;
} 
#time-picker-basic-demos-value-resolution{
    width: 7vw;
    margin-right:2vw;
}

form{
    display: grid;
    width:100%;
    padding: 10px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    h1{
      width: 100%;
      line-height: 24px;
      text-align: left;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
      align-self: flex-end;
  
    }
  }
  vaadin-time-picker{
    width: 120px;
    margin: -5px 20px 0 20px;
    height: 20px !important;
  }
  vaadin-checkbox{
    font-size: 16px;
  }
  vaadin-checkbox-group{
    height: 20px !important;
      text-align: center;
    margin: 8px 0px;
    align-self: flex-end;
  }


  ///////////////// topbar 

  .topbar{
    position: fixed;
    left:20vw;
    width: 80vw;
    height: 6vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    background: #0061d5;
    z-index: 10;
    // padding: 10px;
    div{
        background: #0061d5;
        line-height: 6vh;
        margin-top:10px;
        text-align: center;
        color: #B3D1F1;
        z-index: 100001;
    }
    .not{
        background: #00479D  !important;
        color: #fff !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        
    }
    
  }